.btn-primary{
    margin-left: 5px;
    background-color:linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    border-color :#428bca;
    font-weight: 550;
    margin-top: 1%;
}
.form-group input:disabled{
    color: black;
}
.EditVillageBtn{
    margin-left: 1.5%;
    margin-bottom: 1%;
}

.AddChainageDetailsBtn{
    margin-top: 2%;
}
.DeleteChainageDetailsBtn{
    margin-top: 8%;
}
.ParentBtn{
    margin-top: 6%;
    margin-right: -10%;
}

.fa-plus-circle:before {
    content: "\f055";
    margin-right: 15px;
    margin-top: 106px;
    font-size: 28px;
    color: #0a83dc;
	cursor: pointer
}
