
<!-- add filter component ,pass and get data from child -->
<app-filters [filterControls]="_FilterControls"(filterOutput)="GetValuesFromFilters($event)">
    <div class="ParentBtn" *ngIf ="_ShowVillageDetailsDiv == true"> 
        <button class="btn-primary" (click)="AddNewVillageDetails()">
            <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;
            Add Village Details
        </button>&nbsp;&nbsp;  
        <button class="btn-primary" (click)="EditingModeOntoVillageDetails()">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;
            Edit Village Details
        </button>&nbsp;&nbsp;  
        <button class="btn-danger" mwlConfirmationPopover  [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage" placement="right"(confirm)="DeleteVillageDetails()" *ngIf="_NewVillageAdd == false" ngbTooltip ="Delete Village Information from Database">
            <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;
            Delete Village Details
        </button>
    </div>
</app-filters>
<br>
<form [formGroup]="myFormGroup">
    <div class="card" *ngIf ="_ShowVillageDetailsDiv == true">
        <div class="innercard">
            <div class="d-flex justify-content-between">
                <div class="CardTitle">Village Details</div> 
            </div>
            <div class="form-group row">
                <div class="col-lg-3">
                    <label class="Label">Village Number <b><h7 style="color: red;">*</h7></b> </label>
                    <input  *ngIf ="_DisabledInputField != true" type="text" class="form-control" [(ngModel)]="_VillageModel.VillageNumber" formControlName="VillageNumber"[ngModelOptions]="{standalone: true}"[disabled]="_DisabledInputField">
                    <div class="DisabledFieldLabel" *ngIf ="_DisabledInputField == true">
                        {{this._VillageModel.VillageNumber}}
                    </div>
                </div>

                <div class="col-lg-3">                
                    <label class="Label">Revenue Village Number</label>
                    <input *ngIf ="_DisabledInputField != true" type="text" class="form-control"[(ngModel)]="_VillageModel.RevenueVillageNumber"[ngModelOptions]="{standalone: true}"[disabled]="_DisabledInputField">
                    <div class="DisabledFieldLabel" *ngIf ="_DisabledInputField == true">
                        {{this._VillageModel.RevenueVillageNumber}}
                    </div>
                </div>
                <div class="col-lg-3">
                    <label class="Label">Number of Population </label>
                    <input *ngIf ="_DisabledInputField != true" type="text" class="form-control"[(ngModel)]="_VillageModel.NoOfPopulation"[ngModelOptions]="{standalone: true}"[disabled]="_DisabledInputField">
                    <div class="DisabledFieldLabel" *ngIf ="_DisabledInputField == true">
                        {{this._VillageModel.NoOfPopulation}}
                    </div>
                </div>
                <div class="col-lg-3">
                    <label class="Label">Village Name (English) <b><h7 style="color: red;">*</h7></b></label>
                    <input *ngIf ="_DisabledInputField != true" type="text" class="form-control" [(ngModel)]="_VillageModel.VillageNameEng" formControlName="VillageNameEng"[ngModelOptions]="{standalone: true}" [disabled]="_DisabledInputField">
                    <div class="DisabledFieldLabel" *ngIf ="_DisabledInputField == true">
                        {{this._VillageModel.VillageNameEng}}
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-3">                
                    <label class="Label">Village Name (Hindi) <b><h7 style="color: red;">*</h7></b> </label>
                    <input *ngIf ="_DisabledInputField != true" type="text"class="form-control"[(ngModel)]="_VillageModel.VillageNameHindi" formControlName="VillageNameHindi"[ngModelOptions]="{standalone: true}"[disabled]="_DisabledInputField">
                    <div class="DisabledFieldLabel" *ngIf ="_DisabledInputField == true">
                        {{this._VillageModel.VillageNameHindi}}
                    </div>
                </div>
                <div class="col-lg-3">
                    <label class="Label">Village Name (Local) <b><h7 style="color: red;">*</h7></b>  </label>
                    <input *ngIf ="_DisabledInputField != true" type="text"class="form-control"[(ngModel)]="_VillageModel.VillageNameLocal" formControlName ="VillageNameLocal"[ngModelOptions]="{standalone: true}"[disabled]="_DisabledInputField">
                    <div class="DisabledFieldLabel" *ngIf ="_DisabledInputField == true">
                        {{this._VillageModel.VillageNameLocal}}
                    </div>
                </div>
                <div class="col-lg-3" *ngIf="_DisabledInputField == false && _NewVillageAdd == false">
                    <button type="button" class="btn-primary"style="margin-top: 10%;" (click)="SaveVillageDetails()">
                        Save Village Details
                    </button>
                </div>
            </div>
        </div>   
    </div>
</form>
<br>

<div class="card" *ngIf ="_ShowVillageDetailsDiv == true">
    <div class="innercard">
        <div class="d-flex justify-content-between">
            <div class="CardTitle">Chainge Details</div> 
            <div>
                <i class="fa fa-plus-circle" (click)="SaveChaingeDetails(_NewChainage,true)"ngbTooltip="Add More Chainage"></i>
            </div>
       </div>
       <form [formGroup]="myFormGroup"> 
            <div class="form-group row">
                <div class="col-lg-3">
                    <label class ="Label">Chainge From(Km)</label>
                    <input *ngIf ="_DisabledInputField != true"class="form-control"(input)="CalculateGreaterValue(_NewChainage)"[(ngModel)]="_NewChainage.ChainageFrom" [ngModelOptions]="{standalone: true}"[disabled]="_DisabledInputField && _DisabledChainageField" appTwoDigitDecimaNumber>
                    <div class="DisabledFieldLabel" *ngIf ="_DisabledInputField == true && _DisabledChainageField ==true">
                        {{this._NewChainage.ChainageFrom}}
                    </div>

                </div>
                <div class="col-lg-3">
                    <label class ="Label">Chainge To(Km)</label>
                    <input *ngIf ="_DisabledInputField != true" class="form-control"(input)="CalculateGreaterValue(_NewChainage)" [(ngModel)]="_NewChainage.ChainageTo"[ngModelOptions]="{standalone: true}"[disabled]="_DisabledInputField && _DisabledChainageField" appTwoDigitDecimaNumber>
                    <div class="DisabledFieldLabel" *ngIf ="_DisabledInputField == true && _DisabledChainageField ==true">
                        {{this._NewChainage.ChainageTo}}
                    </div>
                </div>
                <div class="col-lg-3">
                    <label class ="Label">Chainge Length(Km)</label>
                    <input *ngIf ="_DisabledInputField != true" class="form-control"[(ngModel)]="_NewChainage.LengthInKm"[ngModelOptions]="{standalone: true}"[disabled]="true" appTwoDigitDecimaNumber>
                    <div class="DisabledFieldLabel" *ngIf ="_DisabledInputField == true && _DisabledChainageField ==true">
                        {{this._NewChainage.LengthInKm}}
                    </div>
                </div>
                <div class="col-lg-3">
                    <label class ="Label">Survey Agency</label>
                    <select *ngIf ="_DisabledInputField != true"class="form-control"[ngModelOptions]="{standalone: true}"[disabled]="_DisabledInputField && _DisabledChainageField"[(ngModel)]="_NewChainage.SurveyAgency">
                        <option value="1">NKBPL</option>
                    </select>
                    <div class="DisabledFieldLabel" *ngIf ="_DisabledInputField == true && _DisabledChainageField ==true">
                        {{this._NewChainage.SurveyAgency}}
                    </div>
                </div>
            </div>
        </form>
        <br>
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="stripe table table-striped table-bordered" width="98%" >
            <thead>
                <tr>  
                    <th>S.No.</th>    
                    <th>ChainageFrom</th>
                    <th>ChainageTo</th>
                    <th>LengthInKm</th>
                    <th>Survey Agency</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of _VillageModel.Chainages;let i = index">      
                    <td>{{i+1}}</td>  
                    <td>
                        <input *ngIf="data.IsEdit == true"class="form-control"(input)="CalculateGreaterValue(data)"[(ngModel)]="data.ChainageFrom" [ngModelOptions]="{standalone: true}"[disabled]="!data.IsEdit" appTwoDigitDecimaNumber>
                        <div *ngIf="data.IsEdit != true">{{data.ChainageFrom}}</div>
                    </td>
                    <td>
                        <input *ngIf="data.IsEdit == true"class="form-control"(input)="CalculateGreaterValue(data)" [(ngModel)]="data.ChainageTo"[ngModelOptions]="{standalone: true}"[disabled]="!data.IsEdit" appTwoDigitDecimaNumber>
                        <div *ngIf="data.IsEdit != true">{{data.ChainageTo}}</div>
                    </td>
                    <td>
                        <input *ngIf="data.IsEdit == true"class="form-control"[(ngModel)]="data.LengthInKm"[ngModelOptions]="{standalone: true}"[disabled]="true" appTwoDigitDecimaNumber>
                        <div *ngIf="data.IsEdit != true">{{data.LengthInKm}}</div>
                    </td>
                    <td>
                        <select *ngIf="data.IsEdit == true"class="form-control"[ngModelOptions]="{standalone: true}"[disabled]="true"[(ngModel)]="data.SurveyAgency">
                        <option value="1">NKBPL</option>
                        </select>
                        <div *ngIf="data.IsEdit != true">{{"NKBPL"}}</div>
                    </td>
                    <td>
                        <button type="button" class="btn-success"(click)="EditOnlyChaingeDetails(data)" title="Edit" *ngIf="!data.IsEdit">
                            <i class="fa fa-edit "></i>
                        </button>&nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn-success" title="Save" (click)="SaveChaingeDetails(data,false)" *ngIf="data.IsEdit">
                            <i class="fa fa-save "></i>
                        </button>&nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn-danger" title="Cancel" (click)="CancelChainageReq(data)" *ngIf="data.IsEdit">
                            <i class="fa fa-close"></i>
                        </button>&nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn-danger" mwlConfirmationPopover  [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage" placement="top"(confirm)="DeleteChaingeDetails(data.VillageChainageId)" title="Delete">
                            <i class="fa fa-trash"></i>
                        </button>  
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-10 offset-1 col-lg-8 offset-lg-2 div-wrapper d-flex justify-content-center align-items-center">
        <div class="div-to-align"*ngIf="_DisabledInputField == false && _NewVillageAdd == true">
            <br>
            <button type="button" class="btn-primary" (click)="SaveVillageDetails()">
               Add Village Details
            </button>
        </div>
    </div>
</div>

