.row {
  margin-top: 0.5rem;
}
.col-lg-6{
  margin-top: 7%;
}
.ParentBtn{
  margin-top: 3.5%;
  margin-left: -35%;
}
.SaveBtnClass{
  margin-top: 11%;
}
.FileInputClass{
  margin-top: 11%;
}
.UploadattchClass{
  margin-top: 10%;
}