<app-filters [filterControls]="_FilterControls"(filterOutput)="GetValuesFromFilters($event)"> 
    <div class="ParentBtn"> 
        <button class="btn-primary" (click)="AddNewPaymentDetails()">
            <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;
            Add Payment Details
        </button>&nbsp;&nbsp; 
        <button *ngIf="_ShowPaymentDetailsDiv == true"class="btn-primary" (click)="EditPaymentDetails()">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;
            Edit Payment Details
        </button>&nbsp;&nbsp;  
        <button class="btn-danger" mwlConfirmationPopover  [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage" placement="left"(confirm)="DeletePaymentDetails()" *ngIf="_ShowPaymentDetailsDiv == true" ngbTooltip ="Delete Payment Information from Database">
            <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;
            Delete Payment Details
        </button> 
    </div>
</app-filters>
<br>

<form *ngIf="_ShowPaymentDetailsDiv == true || _AddNewPaymentDetails == true">
    <div class="card">
        <div class="innercard"> 
            <div class="d-flex justify-content-between">
                <div class="CardTitle">Adhoc Payment Details </div> 
            </div>
            <div class="form-group row">
                <div class="col-lg-3">
                    <label class="Label">Payment Amount(Rs.)</label>
                    <input type="text" *ngIf="DisableInputField != true"class="form-control" [(ngModel)]="_AdhocPaymentDataModel.AdhocPaymentDetails.paymentAmountInRs"[ngModelOptions]="{standalone: true}">
                    <div class="DisabledFieldLabel" *ngIf="DisableInputField == true">
                        {{this._AdhocPaymentDataModel.AdhocPaymentDetails.paymentAmountInRs}}
                    </div>
                </div>
                <div class="col-lg-3">
                    <label class="Label">Cheque Date</label>
                    <input type="date" *ngIf="DisableInputField != true" class="form-control"[value]="_AdhocPaymentDataModel.AdhocPaymentDetails.ChequeDate | date:'yyyy-MM-dd'" (input)="_AdhocPaymentDataModel.AdhocPaymentDetails.ChequeDate = $event.target.valueAsDate" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker">
                    <div class="DisabledFieldLabel" *ngIf="DisableInputField == true">
                        {{this._AdhocPaymentDataModel.AdhocPaymentDetails.ChequeDate | date:'mediumDate'}}
                    </div>
                </div>
                <div class="col-lg-3">
                    <label class="Label">Amount In Words</label>
                    <input type="text"  *ngIf="DisableInputField != true" class="form-control" [(ngModel)]="_AdhocPaymentDataModel.AdhocPaymentDetails.AmountInWordEnglish"[ngModelOptions]="{standalone: true}">
                    <div class="DisabledFieldLabel" *ngIf="DisableInputField == true">
                        {{this._AdhocPaymentDataModel.AdhocPaymentDetails.AmountInWordEnglish | date:'mediumDate'}}
                    </div>
                </div>
                <div class="col-lg-3">
                    <label class="Label">Paid</label>
                    <input type="text"  *ngIf="DisableInputField != true"class="form-control"[(ngModel)]="_AdhocPaymentDataModel.AdhocPaymentDetails.Paid" [ngModelOptions]="{standalone: true}">
                    <div class="DisabledFieldLabel" *ngIf="DisableInputField == true">
                        {{this._AdhocPaymentDataModel.AdhocPaymentDetails.Paid | date:'mediumDate'}}
                    </div>
                </div>
                <div class="col-lg-3">
                    <label class="Label">Payment Mode </label>
                   <input type="text" *ngIf="DisableInputField != true"class="form-control" [(ngModel)]="_AdhocPaymentDataModel.AdhocPaymentDetails.PaymentMode"[ngModelOptions]="{standalone: true}" >
                   <div class="DisabledFieldLabel" *ngIf="DisableInputField == true">
                        {{this._AdhocPaymentDataModel.AdhocPaymentDetails.PaymentMode | date:'mediumDate'}}
                    </div>
                </div>
                <div class="col-lg-3">
                    <label class="Label"> Payment Date </label>
                    <input type="date"  *ngIf="DisableInputField != true"class="form-control"[value]="_AdhocPaymentDataModel.AdhocPaymentDetails.PaymentDate | date:'yyyy-MM-dd'" (input)="_AdhocPaymentDataModel.AdhocPaymentDetails.PaymentDate = $event.target.valueAsDate" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker">
                    <div class="DisabledFieldLabel" *ngIf="DisableInputField == true">
                        {{this._AdhocPaymentDataModel.AdhocPaymentDetails.PaymentDate | date:'mediumDate'}}
                    </div>
                </div>
                <div class="col-lg-3">
                    <label class="Label">Bank Name</label>
                    <input type="text"  *ngIf="DisableInputField != true"class="form-control"[(ngModel)]="_AdhocPaymentDataModel.AdhocPaymentDetails.BankName" [ngModelOptions]="{standalone: true}">
                    <div class="DisabledFieldLabel" *ngIf="DisableInputField == true">
                        {{this._AdhocPaymentDataModel.AdhocPaymentDetails.BankName | date:'mediumDate'}}
                    </div>
                </div>
                <div class="col-lg-3">
                    <label class="Label">Amount In Words Local </label>
                    <input type="text"  *ngIf="DisableInputField != true" class="form-control"[(ngModel)]="_AdhocPaymentDataModel.AdhocPaymentDetails.AmountInLocalWords" [ngModelOptions]="{standalone: true}" >
                    <div class="DisabledFieldLabel" *ngIf="DisableInputField == true">
                        {{this._AdhocPaymentDataModel.AdhocPaymentDetails.AmountInLocalWords | date:'mediumDate'}}
                    </div>
                </div>
                <div class="col-lg-3">
                    <label class="Label">Cheque No. </label>
                   <input type="text"  *ngIf="DisableInputField != true"class="form-control" [(ngModel)]="_AdhocPaymentDataModel.AdhocPaymentDetails.ChequeNo" [ngModelOptions]="{standalone: true}" >
                   <div class="DisabledFieldLabel" *ngIf="DisableInputField == true">
                        {{this._AdhocPaymentDataModel.AdhocPaymentDetails.ChequeNo | date:'mediumDate'}}
                    </div>
                </div>
                <div class="col-lg-3">
                    <label class="Label">Cheque Issued To </label>
                    <input type="text" *ngIf="DisableInputField != true" class="form-control"[(ngModel)]="_AdhocPaymentDataModel.AdhocPaymentDetails.ChequeIssuedTo" [ngModelOptions]="{standalone: true}" >
                    <div class="DisabledFieldLabel" *ngIf="DisableInputField == true">
                        {{this._AdhocPaymentDataModel.AdhocPaymentDetails.ChequeIssuedTo | date:'mediumDate'}}
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="SaveBtnClass">
                        <button class="btn-primary"*ngIf="DisableInputField == false && _AddNewPaymentDetails == false"(click)="SavePaymentDetails()">
                            Save Payment Details
                        </button>
                    </div>
                </div>
            </div>
        </div> 
    </div>

    <div class="card" *ngIf="_ShowPaymentDetailsDiv == true && _AddNewPaymentDetails == false">
        <div class="innercard">
            <div class="d-flex justify-content-between">
                <div class="CardTitle">Documents Details</div> 
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <label class ="Label">Document types</label>
                    <!-- <ng-select [allowClear]="true" [items]="_CrossingDropdowns.CrossingDocumentTypes" bindLabel="Text" bindValue ="Value" [(ngModel)]="_Crossingdoc.Lookupid" [multiple]="false"[ngModelOptions]="{standalone: true}"> 
                    </ng-select> -->
                </div>
                <div class="col-lg-3">
                    <div class="FileInputClass">
                        <input #fileInput (change)="onChangeDocument($event)"type="file" id="Upload"[ngModelOptions]="{standalone: true}"/>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="UploadattchClass">
                        <button class="btn-primary" (click)="FileUpload(true)">Upload Details</button>
                    </div>
                </div>
        
            </div><br>
            <table class="stripe table table-striped table-bordered" width="98%">
                <thead>
                    <tr>
                        <th>FileName</th>
                        <th>Document Type</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr >
                        <td></td>
                        <td>
                        <!-- *ngFor="let data of _CrossingDataModel.Documents;let i = index"{{GetLookupValue(_CrossingDropdowns.CrossingDocumentTypes, data.Lookupid)}} -->
                        </td>
                        <td>
                            <button type="button" class="btn-info" title="Download" (click)="DownlaodDocument()">
                                <i class="fa fa-download"></i>
                            </button>
                            &nbsp;&nbsp;&nbsp;
                            <button type="button" class="btn-danger"(click)="DeleteDocument()" title="Delete">
                                <i class="fa fa-trash"></i>
                            </button>   
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> 
    </div> 


    <div class="row">
        <div class="col-10 offset-1 col-lg-8 offset-lg-2 div-wrapper d-flex justify-content-center align-items-center">
            <div class="div-to-align"*ngIf="DisableInputField == false && _AddNewPaymentDetails == true">
                <br>
                <button type="button" class="btn-primary" (click)="SavePaymentDetails()">
                   Add Crossing Details
                </button>
            </div>
        </div>
    </div>
</form>
