<app-filters [filterControls]="_FilterControls"(filterOutput)="GetValuesFromFilters($event)"> 
    <div class="AddEditBtn"> 
        <button class="btn-primary" (click)="AddNewPaymentDetails()">
            <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;
            Add Payment Details
        </button>&nbsp;&nbsp; 
        <button class="btn-primary" (click)="EditPaymentDetails()">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;
            Edit Payment Details
        </button> 
    </div>
</app-filters>
<br>

<form>
    <div class="card">
        <div class="innercard"> 
            <div class="d-flex justify-content-between">
                <div class="CardTitle">Adhoc Payment Details </div> 
            </div>
            <div class="form-group row">
                <div class="col-lg-3">
                    <label class="Label">Payment Amount(Rs.)</label>
                    <input type="text" class="form-control" [(ngModel)]="_AdhocPaymentDataModel.AdhocPaymentDetails.paymentAmountInRs"[ngModelOptions]="{standalone: true}"[disabled]="DisableInputField">
                </div>
                <div class="col-lg-3">
                    <label class="Label">Cheque Date</label>
                    <input type="date" class="form-control"[value]="_AdhocPaymentDataModel.AdhocPaymentDetails.ChequeDate | date:'yyyy-MM-dd'" (input)="_AdhocPaymentDataModel.AdhocPaymentDetails.ChequeDate = $event.target.valueAsDate" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker"[disabled]="DisableInputField">
                </div>
                <div class="col-lg-3">
                    <label class="Label">Amount In Words</label>
                    <input type="text" class="form-control" [(ngModel)]="_AdhocPaymentDataModel.AdhocPaymentDetails.AmountInWordEnglish"[ngModelOptions]="{standalone: true}"[disabled]="DisableInputField">
                </div>
                <div class="col-lg-3">
                    <label class="Label">Paid</label>
                    <input type="text" class="form-control"[(ngModel)]="_AdhocPaymentDataModel.AdhocPaymentDetails.Paid" [ngModelOptions]="{standalone: true}"[disabled]="DisableInputField">
                </div>
                <div class="col-lg-3">
                    <label class="Label">Payment Mode </label>
                   <input type="text"class="form-control" [(ngModel)]="_AdhocPaymentDataModel.AdhocPaymentDetails.PaymentMode"[ngModelOptions]="{standalone: true}"[disabled]="DisableInputField">
                </div>
                <div class="col-lg-3">
                    <label class="Label"> Payment Date </label>
                    <input type="date" class="form-control"[value]="_AdhocPaymentDataModel.AdhocPaymentDetails.PaymentDate | date:'yyyy-MM-dd'" (input)="_AdhocPaymentDataModel.AdhocPaymentDetails.PaymentDate = $event.target.valueAsDate" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker"[disabled]="DisableInputField">
                </div>
                <div class="col-lg-3">
                    <label class="Label">Bank Name</label>
                    <input type="text" class="form-control"[(ngModel)]="_AdhocPaymentDataModel.AdhocPaymentDetails.BankName" [ngModelOptions]="{standalone: true}"[disabled]="DisableInputField">
                </div>
                <div class="col-lg-3">
                    <label class="Label">Amount In Words Local </label>
                    <input type="text" class="form-control"[(ngModel)]="_AdhocPaymentDataModel.AdhocPaymentDetails.AmountInLocalWords" [ngModelOptions]="{standalone: true}"[disabled]="DisableInputField">
                </div>
                <div class="col-lg-3">
                    <label class="Label">Cheque No. </label>
                   <input type="text"class="form-control" [(ngModel)]="_AdhocPaymentDataModel.AdhocPaymentDetails.ChequeNo" [ngModelOptions]="{standalone: true}"[disabled]="DisableInputField">
                </div>
                <div class="col-lg-3">
                    <label class="Label">Cheque Issued To </label>
                    <input type="text" class="form-control"[(ngModel)]="_AdhocPaymentDataModel.AdhocPaymentDetails.ChequeIssuedTo" [ngModelOptions]="{standalone: true}"[disabled]="DisableInputField">
                </div>
                <div class="col-lg-3">
                    <div class="SaveBtnClass">
                        <button class="btn-primary" (click)="SavePaymentDetails()">
                            Save Payment Details
                        </button>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</form>
