<div>          
    <div class="card">
        <div class="innercard">
            <div class="d-flex justify-content-between">
                <div class="CardTitle">Gazette And Notice</div> 
            </div>
            <br>
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="stripe table table-striped table-bordered" width="98%" >
                <thead>
                    <tr>  
                        <th>Type Of Notification</th>    
                        <th>File No</th>
                        <th>So No</th>
                        <th>CA Approved Date</th>
                        <th>Notification Date</th>
                        <th>Gazette Published Date</th>
                        <th>Notice Served Date</th>
                        <th>Area</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>      
                        <td></td>  
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>
