.Label{
    font-weight: 550;
    font-size: 15px;
    color :#3838bb;
    margin-bottom: 1px;
}

.Label2{
    font-size: 15px;
    font-weight: 550;
    color: black;
}
.buttons{
    align-items:center;
    text-align: center;
}


.hide
{
    display: none;
}
.show
{
    display: block;
}

.kmlDtaclass{
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom: 10px;
    border: 1px solid #9cbce2;
}