.ParentBtn{
    margin-top: 2.5%;
    margin-left: 2%;
    display:inline-block;
}
.SaveDataClass,.UploattchClass{
    margin-top: 11%;
    width: 50%;
}
.FileInputClass
    {
        margin-top: 11%;
    }