<div class="modal-header">
    <h5 class="modal-title"><b>{{_modelTitle}} Adhoc Payment Details</b></h5>
    <button type="button" class="close" data-dismiss="modal" (click)="closeModal('dismiss')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body"> 
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Payment Amount(Rs.)</label>
            <div class="col-lg-3">
                <input type="text" class="form-control" [(ngModel)]="_AdhocPaymentDataModel.AdhocPaymentDetails.paymentAmountInRs"[ngModelOptions]="{standalone: true}">
            </div>

            <label class="col-sm-3 col-form-label">Cheque Date</label>
            <div class="col-lg-3">
                <input type="date" class="form-control"[value]="_AdhocPaymentDataModel.AdhocPaymentDetails.ChequeDate | date:'yyyy-MM-dd'" (input)="_AdhocPaymentDataModel.AdhocPaymentDetails.ChequeDate = $event.target.valueAsDate" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Amount In Words</label>
            <div class="col-lg-3">
                <input type="text" class="form-control" [(ngModel)]="_AdhocPaymentDataModel.AdhocPaymentDetails.AmountInWordEnglish"[ngModelOptions]="{standalone: true}">
            </div>
           
            <label class="col-sm-3 col-form-label">Paid</label>
            <div class="col-lg-3">
                <input type="text" class="form-control"[(ngModel)]="_AdhocPaymentDataModel.AdhocPaymentDetails.Paid" [ngModelOptions]="{standalone: true}">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Payment Mode </label>
            <div class="col-lg-3">
               <input type="text"class="form-control" [(ngModel)]="_AdhocPaymentDataModel.AdhocPaymentDetails.PaymentMode"[ngModelOptions]="{standalone: true}">
            </div>
        
            <label class="col-sm-3 col-form-label"> Payment Date </label>
            <div class="col-lg-3">
                <input type="date" class="form-control"[value]="_AdhocPaymentDataModel.AdhocPaymentDetails.PaymentDate | date:'yyyy-MM-dd'" (input)="_AdhocPaymentDataModel.AdhocPaymentDetails.PaymentDate = $event.target.valueAsDate" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker">
            </div>
        </div>
       
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Bank Name</label>
            <div class="col-lg-3">
                <input type="text" class="form-control"[(ngModel)]="_AdhocPaymentDataModel.AdhocPaymentDetails.BankName" [ngModelOptions]="{standalone: true}">
            </div>
        
            <label class="col-sm-3 col-form-label">Amount In Words Local </label>
            <div class="col-lg-3">
                <input type="text" class="form-control"[(ngModel)]="_AdhocPaymentDataModel.AdhocPaymentDetails.AmountInLocalWords" [ngModelOptions]="{standalone: true}">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Cheque No. </label>
            <div class="col-lg-3">
               <input type="text"class="form-control" [(ngModel)]="_AdhocPaymentDataModel.AdhocPaymentDetails.ChequeNo" [ngModelOptions]="{standalone: true}">
            </div>
           
            <label class="col-sm-3 col-form-label">Cheque Issued To </label>
            <div class="col-lg-3">
                <input type="text" class="form-control"[(ngModel)]="_AdhocPaymentDataModel.AdhocPaymentDetails.ChequeIssuedTo" [ngModelOptions]="{standalone: true}">
            </div>
        </div>

    <div class="col-10 offset-1 col-lg-8 offset-lg-2 div-wrapper d-flex justify-content-center align-items-center">
        <div class="div-to-align">
            <button type="submit" class="btn-primary" ngbTooltip=""(click)="SubmitDetails()">
                {{_modelTitle}} Details
            </button>  
        </div>
    </div>
</div>

<div class="modal-footer">
</div>