<div>
    <div class="AddEditBtn"> 
        <button class="btn-primary" (click)="AddNewTreeDetails()"data-toggle="modal" data-target="#treeModal">
            <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;
            Add Tree Details
        </button> 
    </div>
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="stripe table table-striped table-bordered" width="98%" >
        <thead>
            <tr>  
                <th>Action</th>
                <th>Owner Name</th>
                <th>Tree Name</th>  
                <th>Range</th>  
                <th>No. of Tree</th>  
                <th>Age (Years)</th>  
                <th>Dia (m)</th>       
                <th>Height (m)</th>   
                <th>Remarks</th>  
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of _AllSurveyDetails.Result.Trees;let i = index">
                <td>
                    <button type="button" class="btn-success"(click)="EditTreeDetails(data)" title="Edit" data-toggle="modal" data-target="#treeModal">
                        <i class="fa fa-edit"></i>
                    </button>&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn-danger" mwlConfirmationPopover  [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage" placement="top"(confirm)="DeleteTreeDetails(data)" title="Delete">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>          
                <td>{{GetLookupValue(_AllSurveyDetails.Result.SurveyOwnersDrp,data.SurveyOwnerId)}}</td>
                <td>{{GetLookupValue(SurveyDropDownsData.TreeNames, data.TreeName)}}</td>
                <td>{{data.Range}}</td>
                <td>{{data.NumberOfTree}}</td>
                <td>{{data.AgeYears}}</td>
                <td>{{data.Dia}}</td>
                <td>{{data.HeightM}}</td>
                <td>{{data.Remarks}}</td> 
            </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <!-- Modal -->
    <div class="modal" id="treeModal" role="dialog"*ngIf="SurveyNumber != null">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><b>
                    <i class='fa fa-edit'style='font-size:24px'></i> 
                    {{_PopupTitle}}
                </b></h5>  
                <button type="button" #closebutton class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-lg-6">
                        <label class="Label">Owner Name <b><h7 style="color: red;">*</h7></b></label>
                        <select class="form-control"[(ngModel)]="_TreeDataModel.SurveyOwnerId"[ngModelOptions]="{standalone: true}">
                            <option class="disabled"[ngValue]="undefined" [disabled]="true">
                               -- Select Owner --
                            </option>
                            <option *ngFor="let data of _AllSurveyDetails.Result.SurveyOwnersDrp"[value]="data.Value">
                                {{data.Text}}
                            </option>
                        </select>
                    </div>
                    <div class="col-lg-6">
                        <label class="Label">Range</label>
                        <!-- <input class="form-control"[(ngModel)]="_TreeDataModel.Range"[ngModelOptions]="{standalone: true}"> -->
                        <select class="form-control"[(ngModel)]="_TreeDataModel.Range"[ngModelOptions]="{standalone: true}">
                            <option class="disabled"[ngValue]="undefined" [disabled]="true">
                                -- Select Range --
                            </option>
                            <option *ngFor="let data of SurveyDropDownsData.TreeRanges" [value]="data.Value">
                                {{data.Text }}
                            </option>
                        </select>
                    </div>
                    <div class="col-lg-6">
                        <label class="Label">Tree Name  <b><h7 style="color: red;">*</h7></b></label>
                        <select class="form-control"[(ngModel)]="_TreeDataModel.TreeName"[ngModelOptions]="{standalone: true}">
                            <option class="disabled"[ngValue]="undefined" [disabled]="true">
                                -- Select Tree -- 
                            </option>
                            <option *ngFor="let data of SurveyDropDownsData.TreeNames" [value]="data.Value">
                                {{ data.Text }}
                            </option>
                        </select>
                    </div>
                    <div class="col-lg-6">
                        <label class="Label">Number Of Tree</label>
                       <input type="text" class="form-control"[(ngModel)]="_TreeDataModel.NumberOfTree"[ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="col-lg-6">
                        <label class="Label">Age (Years)</label>
                       <input type="text" class="form-control"[(ngModel)]="_TreeDataModel.AgeYears"[ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="col-lg-6">
                        <label class="Label">Dia (m)</label>
                       <input type="text" class="form-control"[(ngModel)]="_TreeDataModel.Dia"[ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="col-lg-6">
                        <label class="Label">Height (m)</label>
                       <input type="text" class="form-control"[(ngModel)]="_TreeDataModel.HeightM"[ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="col-lg-6">
                        <label class="Label">Remarks</label>
                       <input type="text" class="form-control"[(ngModel)]="_TreeDataModel.Remarks"[ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-10 offset-1 col-lg-8 offset-lg-2 div-wrapper d-flex justify-content-center align-items-center">
                        <div class="div-to-align">
                            <br>
                        <button type="button" class="btn-primary" (click)="SaveTreeDetails()">
                                Save Tree Details  
                        </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div> 
        </div>
      </div>
    </div>
  </div>
