<app-filters [filterControls]="_FilterControls"(filterOutput)="GetValuesFromFilters($event)">
</app-filters>
<br>
<div class="row" >
    <div class="col-lg-12">
      <!-- <div class="md-tabs">*ngIf="_showTabs == true" -->
        <ngb-tabset>
            <!-- Land details start -->
          <ngb-tab title="Land Details">
            <ng-template ngbTabContent>
                <div class="m-t-15">
                    <div class="ParentBtn"> 
                        <button class="btn-primary" (click)="AddNewLandDetails()">
                            <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;
                            Add Land Details
                        </button>&nbsp;&nbsp;  
                        <button class="btn-primary" (click)="EditLandDetails()">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;
                            Edit Land Details
                        </button>&nbsp;&nbsp;  
                        <button class="btn-danger" mwlConfirmationPopover  [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage" placement="right"(confirm)="DeleteLandDetails()" *ngIf="_AddNewLand == false" ngbTooltip ="Delete Village Information from Database">
                            <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;
                            Delete Land Details
                        </button>
                    </div>
                    <div class="card">
                        <div class="innercard">
                            <div class="d-flex justify-content-between">
                                <div class="CardTitle">Land Details</div> 
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-3">
                                    <label class="Label">Owner Name</label>
                                    <select class="form-control">
                                        <option></option>
                                    </select>
                                    <div class="DisabledFieldLabel" *ngIf="_DisabledInputField == true">
                                        {{this._LandModel.OwnerName}}
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <label class="Label">Type of Land</label>
                                    <select class="form-control">
                                        <option></option>
                                    </select>
                                    <div class="DisabledFieldLabel" *ngIf="_DisabledInputField == true">
                                        {{this._LandModel.LandType}}
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <label class="Label">Ha</label>
                                   <input type="text" class="form-control">
                                    <div class="DisabledFieldLabel" *ngIf="_DisabledInputField == true">
                                        {{this._LandModel.Ha}}
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <label class="Label">Are</label>
                                   <input type="text" class="form-control">
                                    <div class="DisabledFieldLabel" *ngIf="_DisabledInputField == true">
                                        {{this._LandModel.Are}}
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <label class="Label">Sqmt</label>
                                   <input type="text" class="form-control">
                                    <div class="DisabledFieldLabel" *ngIf="_DisabledInputField == true">
                                        {{this._LandModel.Sqmt}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-10 offset-1 col-lg-8 offset-lg-2 div-wrapper d-flex justify-content-center align-items-center">
                                    <div class="div-to-align">
                                        <br>
                                    <button type="button" class="btn-primary" (click)="SaveLandDetails()">
                                            Save Land Details  
                                    </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </ng-template>
          </ngb-tab>
           <!-- Land details End -->


          <ngb-tab title="Survey No. Details">
            <ng-template ngbTabContent>
              <div class="m-t-15">
                <!-- info card start -->
                <!-- Survey Number Details -->
               <div class="ParentBtn"> 
                    <button class="btn-primary" (click)="AddNewSurveyDetails()">
                        <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;
                        Add Survey Details
                    </button>&nbsp;&nbsp;  
                    <button class="btn-primary" (click)="EditSurveyDetails()">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;
                        Edit Survey Details
                    </button>&nbsp;&nbsp;  
                    <button class="btn-danger" mwlConfirmationPopover  [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage" placement="right"(confirm)="DeleteSurveyDetails()" *ngIf="_AddNewSurveyDetails == false" ngbTooltip ="Delete Village Information from Database">
                        <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;
                        Delete Survey Details
                    </button>
                </div> 
                <div class="card" *ngIf ="_ShowSurveyDetailsDiv == true">
                    <div class="innercard">
                        <div class="d-flex justify-content-between">
                            <div class="CardTitle">Survey Details</div> 
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-3">
                                <label class="Label">Survey No (English) <b><h7 style="color: red;">*</h7></b></label>
                                <input  *ngIf="_DisabledInputField != true" type="text" class="form-control" [(ngModel)]="_SurveyModel.SurveyNoEng" [ngModelOptions]="{standalone: true}">
                                <div class="DisabledFieldLabel" *ngIf="_DisabledInputField == true">
                                    {{this._SurveyModel.SurveyNoEng}}
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <label class="Label">Survey No  (Hindi) </label>
                                <input *ngIf="_DisabledInputField != true" type="text" class="form-control"[(ngModel)]="_SurveyModel.SurveyNoHindi"[ngModelOptions]="{standalone: true}">
                                <div class="DisabledFieldLabel" *ngIf="_DisabledInputField == true">
                                    {{this._SurveyModel.SurveyNoHindi}}
                                </div>
                            </div>
                            <div class="col-lg-3">                
                                <label class="Label">Survey No (Local)</label>
                                <input *ngIf="_DisabledInputField != true" type="text" class="form-control"[(ngModel)]="_SurveyModel.SurveyNoLocal"[ngModelOptions]="{standalone: true}">
                                <div class="DisabledFieldLabel" *ngIf="_DisabledInputField == true">
                                    {{this._SurveyModel.SurveyNoLocal}}
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <label class="Label">Electric Poles</label>
                                <input *ngIf="_DisabledInputField != true" type="text" class="form-control" [(ngModel)]="_SurveyModel.ElectricPoles" [ngModelOptions]="{standalone: true}" >
                                <div class="DisabledFieldLabel" *ngIf="_DisabledInputField == true">
                                    {{this._SurveyModel.ElectricPoles}}
                                </div>
                            </div>
                            <div class="col-lg-3">                
                                <label class="Label">LandType</label>
                                <select *ngIf="_DisabledInputField != true"class="form-control" [(ngModel)]="_SurveyModel.LandType">
                                    <option></option>
                                </select>
                                <div class="DisabledFieldLabel" *ngIf="_DisabledInputField == true">
                                    {{ this._SurveyModel.LandType }}
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <label class="Label">Panchanama Date</label>
                                <input *ngIf="_DisabledInputField != true" type="date" class="form-control"[value]="_SurveyModel.PanchanamaDate | date:'yyyy-MM-dd'" (input)="_SurveyModel.PanchanamaDate = $event.target.valueAsDate" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker"[ngModelOptions]="{standalone: true}">
                                <div class="DisabledFieldLabel" *ngIf="_DisabledInputField == true">
                                    {{ this._SurveyModel.PanchanamaDate }}
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <label class="Label">NOC Date</label>
                                <input *ngIf="_DisabledInputField != true" type="date" class="form-control"[value]="_SurveyModel.NOCDate | date:'yyyy-MM-dd'" (input)="_SurveyModel.NOCDate = $event.target.valueAsDate" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker"[ngModelOptions]="{standalone: true}">
                                <div class="DisabledFieldLabel" *ngIf="_DisabledInputField == true">
                                    {{ this._SurveyModel.NOCDate }}
                                </div>
                            </div>
                            <div class="col-lg-3">                
                                <label class="Label">Telephonic Poles </label>
                                <input *ngIf="_DisabledInputField != true" type="text"class="form-control"[(ngModel)]="_SurveyModel.TelephonicPoles" [ngModelOptions]="{standalone: true}">
                                <div class="DisabledFieldLabel" *ngIf="_DisabledInputField == true">
                                    {{ this._SurveyModel.TelephonicPoles }}
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <label class="Label">Corridor Width</label>
                                <input *ngIf="_DisabledInputField != true" type="text"class="form-control"
                                [(ngModel)]="_SurveyModel.CorridorWidth" [ngModelOptions]="{standalone: true}">
                                <div class="DisabledFieldLabel" *ngIf="_DisabledInputField == true">
                                    {{ this._SurveyModel.CorridorWidth }}
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <label class="Label">Corridor Width</label>
                                <input *ngIf="_DisabledInputField != true" type="text"class="form-control"
                                [(ngModel)]="_SurveyModel.CorridorWidth" [ngModelOptions]="{standalone: true}">
                                <div class="DisabledFieldLabel" *ngIf="_DisabledInputField == true">
                                    {{this._SurveyModel.CorridorWidth}}
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <label class="Label">Cultivalted/Non-Cultivalted</label>
                                <select *ngIf="_DisabledInputField != true"class="form-control" [(ngModel)]="_SurveyModel.CultivaltedNonCultivalted">
                                    <option></option>
                                </select>
                                <div class="DisabledFieldLabel" *ngIf="_DisabledInputField == true">
                                    {{this._SurveyModel.CorridorWidth}}
                                </div>
                            </div>
                            <!-- <div class="col-lg-2">
                                <label class="Label">ROU Area</label>
                                <label class="Label">Ha</label>
                                <input *ngIf="_DisabledInputField != true" type="text"class="form-control"
                                [(ngModel)]="_SurveyModel.KhataNumber" [ngModelOptions]="{standalone: true}">
                                <div class="DisabledFieldLabel" *ngIf="_DisabledInputField == true">
                                    {{this._SurveyModel.KhataNumber}}
                                </div>
                            </div> -->
                            <div class="col-lg-3">
                                <label class="Label">Mortgage Details</label>
                                <input *ngIf="_DisabledInputField != true" type="text"class="form-control"
                                [(ngModel)]="_SurveyModel.MortgageDetails" [ngModelOptions]="{standalone: true}">
                                <div class="DisabledFieldLabel" *ngIf="_DisabledInputField == true">
                                    {{this._SurveyModel.MortgageDetails}}
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <label class="Label">Khata Number</label>
                                <input *ngIf="_DisabledInputField != true" type="text"class="form-control"
                                [(ngModel)]="_SurveyModel.KhataNumber" [ngModelOptions]="{standalone: true}">
                                <div class="DisabledFieldLabel" *ngIf="_DisabledInputField == true">
                                    {{this._SurveyModel.KhataNumber}}
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <label class="Label">Inactive</label>
                                <input *ngIf="_DisabledInputField != true" type="text"class="form-control"
                                [(ngModel)]="_SurveyModel.KhataNumber" [ngModelOptions]="{standalone: true}">
                                <div class="DisabledFieldLabel" *ngIf="_DisabledInputField == true">
                                    {{this._SurveyModel.KhataNumber}}
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <label class="Label">If Inactive give the reasons</label>
                                <input *ngIf="_DisabledInputField != true" type="text"class="form-control"
                                [(ngModel)]="_SurveyModel.KhataNumber" [ngModelOptions]="{standalone: true}">
                                <div class="DisabledFieldLabel" *ngIf="_DisabledInputField == true">
                                    {{this._SurveyModel.KhataNumber}}
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <label class="Label">Rev. Rec. Updated</label>
                                <input *ngIf="_DisabledInputField != true" type="text"class="form-control"
                                [(ngModel)]="_SurveyModel.KhataNumber" [ngModelOptions]="{standalone: true}">
                                <div class="DisabledFieldLabel" *ngIf="_DisabledInputField == true">
                                    {{this._SurveyModel.KhataNumber}}
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <label class="Label">ROU Area</label>
                                <div class="form-group row" style="margin-left: 1.2%;">
                                    <label class="col-sm-0.5 col-form-label">Ha</label>
                                    <div class="col-lg-3">
                                        <input type="text" class="form-control">
                                    </div>
                                    <label class="col-sm-0.5 col-form-label">Are</label>
                                    <div class="col-lg-3">
                                        <input type="text" class="form-control">
                                    </div>
                                    <label class="col-sm-0.5 col-form-label">Sqmt</label>
                                    <div class="col-lg-3">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <label class="Label" style="margin-left: -6%;">Total Area</label>
                                <div class="form-group row" style="margin-left: -6%;">
                                    <label class="col-sm-0.5 col-form-label">Ha</label>
                                    <div class="col-lg-3">
                                        <input type="text" class="form-control">
                                    </div>
                                    <label class="col-sm-0.5 col-form-label">Are</label>
                                    <div class="col-lg-3">
                                        <input type="text" class="form-control">
                                    </div>
                                    <label class="col-sm-0.5 col-form-label">Sqmt</label>
                                    <div class="col-lg-3">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <label class="Label" style="margin-left: -6%;">Panchanama Area</label>
                                <div class="form-group row" style="margin-left: -6%;">
                                    <label class="col-sm-0.5 col-form-label">Ha</label>
                                    <div class="col-lg-3">
                                        <input type="text" class="form-control">
                                    </div>
                                    <label class="col-sm-0.5 col-form-label">Are</label>
                                    <div class="col-lg-3">
                                        <input type="text" class="form-control">
                                    </div>
                                    <label class="col-sm-0.5 col-form-label">Sqmt</label>
                                    <div class="col-lg-3">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-10 offset-1 col-lg-8 offset-lg-2 div-wrapper d-flex justify-content-center align-items-center">
                                <div class="div-to-align">
                                    <br>
                                    <button type="button" class="btn-primary" (click)="SaveSurveyDetails()">
                                        Save Survey Details
                                    </button>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>   
                </div>
                <!-- info card end -->
              </div>
            </ng-template>
          </ngb-tab>
          
          <ngb-tab title="Crop Details">
            <ng-template ngbTabContent>
              <div class="m-t-15">
                <!-- info card start -->
                <div class="ParentBtn"> 
                    <button class="btn-primary" (click)="AddNewSurveyDetails()">
                        <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;
                        Add Crop Details
                    </button>&nbsp;&nbsp;  
                    <button class="btn-primary" (click)="EditSurveyDetails()">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;
                        Edit Crop Details
                    </button>&nbsp;&nbsp;  
                    <button class="btn-danger" mwlConfirmationPopover  [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage" placement="right"(confirm)="DeleteSurveyDetails()" *ngIf="_AddNewSurveyDetails == false" ngbTooltip ="Delete Crop Information from Database">
                        <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;
                        Delete Crop Details
                    </button>
                </div>
                <div class="card">
                    <div class="innercard">
                        <div class="d-flex justify-content-between">
                            <div class="CardTitle">Crop Details</div> 
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-3">
                                <label class="Label">Owner Name</label>
                                <select class="form-control">
                                    <option></option>
                                </select>
                                <div class="DisabledFieldLabel" *ngIf="_DisabledInputField == true">
                                    {{this._LandModel.OwnerName}}
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <label class="Label">Award</label>
                                <select class="form-control">
                                    <option></option>
                                </select>
                                <div class="DisabledFieldLabel" *ngIf="_DisabledInputField == true">
                                    {{this._LandModel.LandType}}
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <label class="Label">Season Name</label>
                                <select class="form-control">
                                    <option></option>
                                </select>
                                <div class="DisabledFieldLabel" *ngIf="_DisabledInputField == true">
                                    {{this._LandModel.LandType}}
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <label class="Label">Crop Name</label>
                                <select class="form-control">
                                    <option></option>
                                </select>
                                <div class="DisabledFieldLabel" *ngIf="_DisabledInputField == true">
                                    {{this._LandModel.LandType}}
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <label class="Label">Ha</label>
                               <input type="text" class="form-control">
                                <div class="DisabledFieldLabel" *ngIf="_DisabledInputField == true">
                                    {{this._LandModel.Ha}}
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <label class="Label">Are</label>
                               <input type="text" class="form-control">
                                <div class="DisabledFieldLabel" *ngIf="_DisabledInputField == true">
                                    {{this._LandModel.Are}}
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <label class="Label">Sqmt</label>
                               <input type="text" class="form-control">
                                <div class="DisabledFieldLabel" *ngIf="_DisabledInputField == true">
                                    {{this._LandModel.Sqmt}}
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <label class="Label">Crop Status</label>
                                <input type="text" class="form-control">
                                <div class="DisabledFieldLabel" *ngIf="_DisabledInputField == true">
                                    {{this._LandModel.LandType}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-10 offset-1 col-lg-8 offset-lg-2 div-wrapper d-flex justify-content-center align-items-center">
                                <div class="div-to-align">
                                    <br>
                                <button type="button" class="btn-primary" (click)="SaveLandDetails()">
                                        Save Crop Details  
                                </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                <!-- info card end -->
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Owner Details">
            <ng-template ngbTabContent>
              <div class="m-t-15">
                <div class="ParentBtn"> 
                    <button class="btn-primary" (click)="AddNewLandDetails()">
                        <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;
                        Add Owner Details
                    </button>&nbsp;&nbsp;  
                    <button class="btn-primary" (click)="EditLandDetails()">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;
                        Edit Owner Details
                    </button>&nbsp;&nbsp;  
                    <button class="btn-danger" mwlConfirmationPopover  [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage" placement="right"(confirm)="DeleteLandDetails()" *ngIf="_AddNewLand == false" ngbTooltip ="Delete Village Information from Database">
                        <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;
                        Delete Owner Details
                    </button>
                </div>

                <div class="card">
                    <div class="innercard">
                        <div class="d-flex justify-content-between">
                            <div class="CardTitle">Owner Details</div> 
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-3">
                                <label class="Label">Owner Name (English)</label>
                                <input *ngIf="_DisabledInputField != true" type="text"class="form-control"
                                [(ngModel)]="_SurveyModel.KhataNumber" [ngModelOptions]="{standalone: true}">
                                <div class="DisabledFieldLabel" *ngIf="_DisabledInputField == true">
                                    {{this._SurveyModel.KhataNumber}}
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <label class="Label">Owner Name (Hindi)</label>
                                <input *ngIf="_DisabledInputField != true" type="text"class="form-control"
                                [(ngModel)]="_SurveyModel.KhataNumber" [ngModelOptions]="{standalone: true}">
                                <div class="DisabledFieldLabel" *ngIf="_DisabledInputField == true">
                                    <!-- {{this._SurveyModel.KhataNumber}} -->
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <label class="Label">Owner Name  (Local)</label>
                                <input *ngIf="_DisabledInputField != true" type="text"class="form-control"
                                [(ngModel)]="_SurveyModel.KhataNumber" [ngModelOptions]="{standalone: true}">
                                <div class="DisabledFieldLabel" *ngIf="_DisabledInputField == true">
                                    <!-- {{this._SurveyModel.KhataNumber}} -->
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <label class="Label">Owner Type</label>
                                <input *ngIf="_DisabledInputField != true" type="text"class="form-control"
                                [(ngModel)]="_SurveyModel.KhataNumber" [ngModelOptions]="{standalone: true}">
                                <div class="DisabledFieldLabel" *ngIf="_DisabledInputField == true">
                                    <!-- {{this._SurveyModel.KhataNumber}} -->
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <label class="Label">Address (English)</label>
                                <input *ngIf="_DisabledInputField != true" type="text"class="form-control"
                                [(ngModel)]="_SurveyModel.KhataNumber" [ngModelOptions]="{standalone: true}">
                                <div class="DisabledFieldLabel" *ngIf="_DisabledInputField == true">
                                    {{this._SurveyModel.KhataNumber}}
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <label class="Label">Address (Hindi)</label>
                                <input *ngIf="_DisabledInputField != true" type="text"class="form-control"
                                [(ngModel)]="_SurveyModel.KhataNumber" [ngModelOptions]="{standalone: true}">
                                <div class="DisabledFieldLabel" *ngIf="_DisabledInputField == true">
                                    <!-- {{this._SurveyModel.KhataNumber}} -->
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <label class="Label">Address (Local)</label>
                                <input *ngIf="_DisabledInputField != true" type="text"class="form-control"
                                [(ngModel)]="_SurveyModel.KhataNumber" [ngModelOptions]="{standalone: true}">
                                <div class="DisabledFieldLabel" *ngIf="_DisabledInputField == true">
                                    <!-- {{this._SurveyModel.KhataNumber}} -->
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <label class="Label">Owner Code</label>
                                <input *ngIf="_DisabledInputField != true" type="text"class="form-control"
                                [ngModelOptions]="{standalone: true}">
                                <div class="DisabledFieldLabel" *ngIf="_DisabledInputField == true">
                                    <!-- {{this._SurveyModel.KhataNumber}} -->
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">InActive Status</label>
                            <div class="col-lg-1">
                                <input *ngIf="_DisabledInputField != true" type="checkbox"class="form-controlCheckBox"
                            [ngModelOptions]="{standalone: true}">
                            <div class="DisabledFieldLabel" *ngIf="_DisabledInputField == true">
                                <!-- {{this._SurveyModel.KhataNumber}} -->
                            </div>
                            </div>
            
                            <label class="col-sm-2 col-form-label">Minor Owner </label>
                            <div class="col-lg-1">
                                <input *ngIf="_DisabledInputField != true" type="checkbox"class="form-controlCheckBox"
                            [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="DisabledFieldLabel" *ngIf="_DisabledInputField == true">
                                <!-- {{this._SurveyModel.KhataNumber}} -->
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-3">
                                <button  type="button" class="btn-primary"style="margin-top: 3%;">
                                Save Owner Details
                                </button>
                            </div>
                        </div>

                        
                    </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Tree Details">
            <ng-template ngbTabContent>
                <div class="m-t-15">
                    <div class="ParentBtn"> 
                        <button class="btn-primary" (click)="AddNewLandDetails()">
                            <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;
                            Add Tree Details
                        </button>&nbsp;&nbsp;  
                        <!-- <button class="btn-primary" (click)="EditLandDetails()">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;
                            Edit Tree Details
                        </button>&nbsp;&nbsp;  
                        <button class="btn-danger" mwlConfirmationPopover  [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage" placement="right"(confirm)="DeleteLandDetails()" *ngIf="_AddNewLand == false" ngbTooltip ="Delete Village Information from Database">
                            <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;
                            Delete Tree Details
                        </button> -->
                    </div>
                    <div class="card">
                        <div class="innercard">
                            <div class="d-flex justify-content-between">
                                <div class="CardTitle">Tree Details</div> 
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-3">
                                    <label class="Label">Owner Name</label>
                                    <select class="form-control">
                                        <option></option>
                                    </select>
                                    <div class="DisabledFieldLabel" *ngIf="_DisabledInputField == true">
                                        {{this._LandModel.OwnerName}}
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <label class="Label">Range</label>
                                    <select class="form-control">
                                        <option></option>
                                    </select>
                                    <div class="DisabledFieldLabel" *ngIf="_DisabledInputField == true">
                                        {{this._LandModel.LandType}}
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <label class="Label">Tree Name</label>
                                    <select class="form-control">
                                        <option></option>
                                    </select>
                                    <div class="DisabledFieldLabel" *ngIf="_DisabledInputField == true">
                                        {{this._LandModel.LandType}}
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <label class="Label">Number Of Tree</label>
                                   <input type="text" class="form-control">
                                    <div class="DisabledFieldLabel" *ngIf="_DisabledInputField == true">
                                        {{this._LandModel.Ha}}
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <label class="Label">Age (Years)</label>
                                   <input type="text" class="form-control">
                                    <div class="DisabledFieldLabel" *ngIf="_DisabledInputField == true">
                                        {{this._LandModel.Are}}
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <label class="Label">Girth (cms)</label>
                                   <input type="text" class="form-control">
                                    <div class="DisabledFieldLabel" *ngIf="_DisabledInputField == true">
                                        {{this._LandModel.Sqmt}}
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <label class="Label">Height (m)</label>
                                   <input type="text" class="form-control">
                                    <div class="DisabledFieldLabel" *ngIf="_DisabledInputField == true">
                                        {{this._LandModel.Sqmt}}
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <label class="Label">Remarks</label>
                                   <input type="text" class="form-control">
                                    <div class="DisabledFieldLabel" *ngIf="_DisabledInputField == true">
                                        {{this._LandModel.Sqmt}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-10 offset-1 col-lg-8 offset-lg-2 div-wrapper d-flex justify-content-center align-items-center">
                                    <div class="div-to-align">
                                        <br>
                                    <button type="button" class="btn-primary" (click)="SaveLandDetails()">
                                            Save Tree Details  
                                    </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </ng-template>
          </ngb-tab>
  
          <ngb-tab title="Restoration Details">
            <ng-template ngbTabContent>
              <div class="m-t-15">
                <!-- info card start -->
                <div class="m-t-15">
                    <!-- info card start -->
                    <div class="ParentBtn"> 
                        <button class="btn-primary" (click)="AddNewSurveyDetails()">
                            <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;
                            Add Restoration Details
                        </button>&nbsp;&nbsp;  
                        <button class="btn-primary" (click)="EditSurveyDetails()">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;
                            Edit Restoration Details
                        </button>&nbsp;&nbsp;  
                        <button class="btn-danger" mwlConfirmationPopover  [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage" placement="right"(confirm)="DeleteSurveyDetails()" *ngIf="_AddNewSurveyDetails == false" ngbTooltip ="Delete Crop Information from Database">
                            <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;
                            Delete Restoration Details
                        </button>
                    </div>
                    <div class="card">
                        <div class="innercard">
                            <div class="d-flex justify-content-between">
                                <div class="CardTitle">Restoration Details</div> 
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-3">
                                    <label class="Label">Owner Name</label>
                                    <select class="form-control">
                                        <option></option>
                                    </select>
                                    <div class="DisabledFieldLabel" *ngIf="_DisabledInputField == true">
                                        {{this._LandModel.OwnerName}}
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <label class="Label">Damage Type</label>
                                    <select class="form-control">
                                        <option></option>
                                    </select>
                                    <div class="DisabledFieldLabel" *ngIf="_DisabledInputField == true">
                                        {{this._LandModel.LandType}}
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <label class="Label">Damage Name</label>
                                    <select class="form-control">
                                        <option></option>
                                    </select>
                                    <div class="DisabledFieldLabel" *ngIf="_DisabledInputField == true">
                                        {{this._LandModel.LandType}}
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <label class="Label">length Name</label>
                                    <input type="text" class="form-control">
                                    <div class="DisabledFieldLabel" *ngIf="_DisabledInputField == true">
                                        {{this._LandModel.LandType}}
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <label class="Label">Approximate Value(Rs.)</label>
                                   <input type="text" class="form-control">
                                    <div class="DisabledFieldLabel" *ngIf="_DisabledInputField == true">
                                        {{this._LandModel.Ha}}
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <label class="Label">Diameter(inch)</label>
                                   <input type="text" class="form-control">
                                    <div class="DisabledFieldLabel" *ngIf="_DisabledInputField == true">
                                        {{this._LandModel.Are}}
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <label class="Label">Width</label>
                                   <input type="text" class="form-control">
                                    <div class="DisabledFieldLabel" *ngIf="_DisabledInputField == true">
                                        {{this._LandModel.Sqmt}}
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <label class="Label">Depth(m)</label>
                                   <input type="text" class="form-control">
                                    <div class="DisabledFieldLabel" *ngIf="_DisabledInputField == true">
                                        {{this._LandModel.Sqmt}}
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <label class="Label">Height(m)</label>
                                   <input type="text" class="form-control">
                                    <div class="DisabledFieldLabel" *ngIf="_DisabledInputField == true">
                                        {{this._LandModel.Sqmt}}
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <label class="Label">Description</label>
                                   <input type="text" class="form-control">
                                    <div class="DisabledFieldLabel" *ngIf="_DisabledInputField == true">
                                        {{this._LandModel.Sqmt}}
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <label class="Label">Remarks</label>
                                    <input type="text" class="form-control">
                                    <div class="DisabledFieldLabel" *ngIf="_DisabledInputField == true">
                                        {{this._LandModel.LandType}}
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <label class="Label">Remarks(Local)</label>
                                    <input type="text" class="form-control">
                                    <div class="DisabledFieldLabel" *ngIf="_DisabledInputField == true">
                                        {{this._LandModel.LandType}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-10 offset-1 col-lg-8 offset-lg-2 div-wrapper d-flex justify-content-center align-items-center">
                                    <div class="div-to-align">
                                        <br>
                                    <button type="button" class="btn-primary" (click)="SaveLandDetails()">
                                            Save Restoration Details  
                                    </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                    <!-- info card end -->
                  </div>
                <!-- info card end -->
              </div>
            </ng-template>
          </ngb-tab>
  
          <ngb-tab title="Assign Panch">
            <ng-template ngbTabContent>
              <div class="m-t-15">
                <!-- info card start -->
                Assign Panch
                <!-- info card end -->
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Revenue Form">
            <ng-template ngbTabContent>
              <div class="m-t-15">
                   
              </div>
            </ng-template>
          </ngb-tab>
  
          <ngb-tab title="Gazette And Notice">
            <ng-template ngbTabContent>
              <div class="m-t-15">
                Gazette And Notice
              </div>
            </ng-template>
          </ngb-tab>
  
          <ngb-tab title="Compensation">
            <ng-template ngbTabContent>
              <div class="m-t-15">
                Compensation
              </div>
            </ng-template>
          </ngb-tab>
  
        </ngb-tabset><!-- close tabs -->
      <!-- </div> -->
    </div>
  </div>
