<div>
    <div class="AddEditBtn"> 
        <button class="btn-primary" (click)="AddNewCropDetails()" data-toggle="modal" data-target="#CropModal">
            <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;
            Add Crop Details
        </button>
    </div>

    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="stripe table table-striped table-bordered" width="98%" >
        <thead>
            <tr>  
                <th>Action</th>
                <th>Owner Name</th>    
                <th>Award</th>
                <th>Season Name</th>
                <th>Crop Name</th>
                <th>Ha.</th>
                <th>Are.</th>
                <th>Sqmt.</th>
                <th>Crop Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of _AllSurveyDetails.Result.Crops;let i = index">
                <td>
                    <button type="button" class="btn-success"(click)="EditCropDetails(data)" title="Edit" data-toggle="modal" data-target="#CropModal">
                        <i class="fa fa-edit "></i>
                    </button>&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn-danger" mwlConfirmationPopover  [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage" placement="left"(confirm)="DeleteCropDetails(data)" title="Delete">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>      
                <td>{{GetLookupValue(_AllSurveyDetails.Result.SurveyOwnersDrp,data.SurveyOwnerId)}}</td>  
                <td>{{GetLookupValue(SurveyDropDownsData.AwardTypes ,data.AwardType)}}</td>
                <td>{{GetLookupValue(SurveyDropDownsData.SeasonNameTypes ,data.SeasonType)}}</td>
                <td>{{GetLookupValue(_AllSurveyDetails.Result.Crops,data.CropName)}}</td>
                <td>{{data.Ha}}</td>
                <td>{{data.Are}}</td>
                <td>{{data.Sqmt}}</td>
                <td>{{data.CropStatus}}</td>
            </tr>
        </tbody>
    </table>
    <br>

</div>


<div class="container">
    <!-- Modal -->
    <div class="modal" id="CropModal" role="dialog" *ngIf="SurveyNumber != null">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <b><i class='fa fa-edit'style='font-size:24px'></i> 
                    {{_PopupTitle}}
                    </b>
                </h5>  
                <button type="button" #closebutton class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-lg-6">
                        <label class="Label">Owner Name</label>
                        <select class="form-control"[(ngModel)]="_CropDataModel.SurveyOwnerId">
                            <option *ngFor="let data of _AllSurveyDetails.Result.SurveyOwnersDrp"[value]="data.Value">
                                {{data.Text}}
                            </option>
                        </select>
                    </div>
                    <div class="col-lg-6">
                        <label class="Label">Award</label>
                        <select class="form-control"[(ngModel)]="_CropDataModel.AwardType">
                            <option *ngFor="let data of SurveyDropDownsData.AwardTypes"[value]="data.Value">
                                {{data.Text}}
                            </option>
                        </select>
                    </div>
                    <div class="col-lg-6">
                        <label class="Label">Season Name</label>
                        <select class="form-control"[(ngModel)]="_CropDataModel.SeasonType">
                            <option *ngFor="let data of SurveyDropDownsData.SeasonNameTypes" [value]="data.Value">{{data.Text }}</option>
                        </select>
                    </div>
                    <div class="col-lg-6">
                        <label class="Label">Crop Name</label>
                        <select class="form-control" [(ngModel)]="_CropDataModel.CropName">
                            <option *ngFor="let data of SurveyDropDownsData.CropNames" [value]="data.Value">{{data.Text }}</option>
                        </select>
                    </div>
                    <div class="col-lg-4">
                        <label class="Label">Ha</label>
                       <input type="text" class="form-control"[(ngModel)]="_CropDataModel.Ha">
                    </div>
                    <div class="col-lg-4">
                        <label class="Label">Are</label>
                       <input type="text" class="form-control"[(ngModel)]="_CropDataModel.Are">
                    </div>
                    <div class="col-lg-4">
                        <label class="Label">Sqmt</label>
                       <input type="text" class="form-control"[(ngModel)]="_CropDataModel.Sqmt">
                    </div>
                    <div class="col-lg-6">
                        <label class="Label">Crop Status</label>
                        <input type="text" class="form-control"[(ngModel)]="_CropDataModel.CropStatus">
                    </div>
                </div>
                <div class="row">
                    <div class="col-10 offset-1 col-lg-8 offset-lg-2 div-wrapper d-flex justify-content-center align-items-center">
                        <div class="div-to-align">
                            <br>
                        <button type="button" class="btn-primary" (click)="SaveDetails()">
                                Save Crop Details  
                        </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div> 
        </div>
      </div>
    </div>
    
  </div>
