.backIcon{
    font-size: 23px;
    color: rgb(255, 255, 255);
}
.nav-list > li > a {
    cursor: pointer;
}
.logout{
    color: rgb(191, 214, 235);
}
a {
    color: #326dad;
    text-decoration: none;
    font-size: 15px;
    font-weight: 450;
    background-color: transparent;
}

.navbar ul li ul {
    border: 1px solid;
    display: none;
    width: auto;
    padding: 0;
    padding-left: 10px;
    margin: 0;
  }
.navbar ul li:hover ul   {
    display: block;
  }

  li.open {
    background-position : 4px 8px;
  }

  .textstyle{
    font-family: "Times New Roman", Times, serif;
  }

  .tablediv{
    width: 76%;
    margin-left: 15%;
  }
  table, th, td {
    border: 1px solid black;
    text-align: center;
    font-size: 16px;
    height: 10px;
  }
  .table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 1px;
  }
  .table.table-bordered > thead > tr > th:first-child {
    border-left-color: #727272;
  }
  .table > thead > tr > th:last-child {
    border-right-color: #727272;
}

  .table > thead > tr > th {
    border-color: #727272;
    font-weight: 600;
  }
  .title_table{
    font-size: 19px;
    line-height: 0;
    background:#e8f3fd;
    font-weight: 700;
  }

  .userClass{
    text-align: right;
    padding: 23px;
    color: #fafafa;
    font-weight: 550;
    margin-top: 11px;
    font-size: 17px;
  }