.backIcon{
    font-size: 23px;
    color: rgb(255, 255, 255);
}
.nav-list > li > a {
    cursor: pointer;
}
.logout{
    color: rgb(191, 214, 235);
}
a {
    color: #326dad;
    text-decoration: none;
    font-size: 15px;
    font-weight: 450;
    background-color: transparent;
}

.navbar ul li ul {
    border: 1px solid;
    display: none;
    width: auto;
    padding: 0;
    padding-left: 10px;
    margin: 0;
  }
.navbar ul li:hover ul   {
    display: block;
  }

  li.open {
    background-position : 4px 8px;
  }


  .textstyle{
    font-family: "Times New Roman", Times, serif;
  }