<!DOCTYPE html>
<html lang="en">
<head>	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="no-skin">
	<div id="navbar" class="navbar navbar-default ace-save-state">
		<div class="navbar-container ace-save-state" id="navbar-container">
			<button type="button"  class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
				<span class="sr-only">Toggle sidebar</span> 
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<!--Navigation bar logoimage and logout button-->
			<div class="navbar-header pull-left">
				<img style="height: 45px; " src="/assets/NKBPLImages/NKBPL_logo.png">
			</div>
			<div class="logout">   
				<a class="backIcon" type="button" (click)="logoutBtn()">
					<i class="ace-icon fa fa-power-off"></i>
				</a>
			</div>
		</div><!-- /.navbar-container -->
	</div><!-- /.header navbar-->
<!-- <div> -->

<div class="main-container ace-save-state" id="main-container">
	<!-- <script type="text/javascript">
		try{ace.settings.loadState('main-container')}catch(e){}
	</script> -->
		<div id="sidebar" class="sidebar responsive ace-save-state ">
			<div class="sidebar-shortcuts" id="sidebar-shortcuts">
			<!-- /.sidebar-space -->	
			</div><!-- /.sidebar-shortcuts -->
            <!-- 1st step -->
			<ul class="nav nav-list">
                <!-- 2nd step -->
				<li class="open" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
					<a>
						<i class="menu-icon fa fa-tachometer"></i>
						<span class="menu-text"> Home &nbsp;</span>
					</a>
				</li>

                <!-- project management -->
				<li class="open" routerLinkActive="active">
					<a class="dropdown-toggle">
					<i class="menu-icon fa fa-id-badge"></i>
					<span class="menu-text"> Project Management - Divya - New branch </span>
					</a>

					<ul class="submenu">
						<li class="" routerLinkActive="active">
							<a routerLink="MasterDetails" >
								<i class="menu-icon fa fa-caret-right"></i>
								Project
							</a>
							<!-- <b class="arrow"></b> -->
						</li>	
						<li class="" routerLinkActive="active">
							<a routerLink="">
								<i class="menu-icon fa fa-caret-right"></i>
								Jurisdiction
							</a>
						</li>
                        <li class="" routerLinkActive="active">
							<a routerLink="" >
								<i class="menu-icon fa fa-caret-right"></i>
								Section
							</a>	
						</li>	
						<li class="" routerLinkActive="active">
							<a routerLink="">
								<i class="menu-icon fa fa-caret-right"></i>
								Client Details
							</a>
						</li>
                        <li class="" routerLinkActive="active">
							<a routerLink="" >
								<i class="menu-icon fa fa-caret-right"></i>
								CA Info
							</a>	
						</li>	
						<li class="" routerLinkActive="active">
							<a routerLink="">
								<i class="menu-icon fa fa-caret-right"></i>
								Assign Project
							</a>
						</li>	
					</ul>				
				</li> 

                <!-- add/edit section -->
                <li class="open" routerLinkActive="active">
					<a class="dropdown-toggle">
					<i class="menu-icon fa fa-pencil-square-o"></i>
					<span class="menu-text"> Add/Edit Details   </span>
					</a>
					<ul class="submenu">
						<li class="" routerLinkActive="active">
							<a routerLink="" >
								<i class="menu-icon fa fa-caret-right"></i>
								Master Details
							</a>	
						</li>	
						<li class="" routerLinkActive="active">
							<a routerLink="">
								<i class="menu-icon fa fa-caret-right"></i>
								Region Details
							</a>
						</li>
                        <li class="" routerLinkActive="active">
							<a routerLink="" >
								<i class="menu-icon fa fa-caret-right"></i>
								Survey Agency Details
							</a>	
						</li>	
						<li class="" routerLinkActive="active">
							<a routerLink="">
								<i class="menu-icon fa fa-caret-right"></i>
								Village Details
							</a>
						</li>
                        <li class="" routerLinkActive="active">
							<a routerLink="" >
								<i class="menu-icon fa fa-caret-right"></i>
								Land Rates
							</a>	
						</li>	
						<li class="" routerLinkActive="active">
							<a routerLink="">
								<i class="menu-icon fa fa-caret-right"></i>
								Crop Rates
							</a>
						</li>
                        <li class="" routerLinkActive="active">
							<a routerLink="GazetteDetails">
								<i class="menu-icon fa fa-caret-right"></i>
								Gazette Details
							</a>
						</li>
                        <li class="" routerLinkActive="active">
							<a routerLink="">
								<i class="menu-icon fa fa-caret-right"></i>
								Crossing Details
							</a>
						</li>
                        <li class="" routerLinkActive="active">
							<a routerLink="">
								<i class="menu-icon fa fa-caret-right"></i>
								AGI/Terminal Details
							</a>
						</li>
                        <li class="" routerLinkActive="active">
							<a routerLink="">
								<i class="menu-icon fa fa-caret-right"></i>
								Compensation Calculation
							</a>
						</li>
                        <li class="" routerLinkActive="active">
							<a routerLink="PreEngineering">
								<i class="menu-icon fa fa-caret-right"></i>
								Pre Engineering
							</a>
						</li>
                        <li class="" routerLinkActive="active">
							<a routerLink="">
								<i class="menu-icon fa fa-caret-right"></i>
								Adhoc Payment
							</a>
						</li>	
					</ul>				
				</li>

                <!-- View  Details -->
				<li class="open" routerLinkActive="active">
					<a class="dropdown-toggle">
					<i class="menu-icon fa fa-book"></i>
					<span class="menu-text"> View Details   </span>
					</a>
					<ul class="submenu">
						<li class="" routerLinkActive="active">
							<a>
								<i class="menu-icon fa fa-caret-right"></i>
								ROU Details
							</a>
                            <ul>
                                <!-- Survey No/Owner Details -->
                                <li class="menu-icon fa fa-caret-right">
                                    <a class="Innersubmenu"routerLink="MasterDetails">Master Details</a>
                                </li>
                                <li class="menu-icon fa fa-caret-right">
                                    <a routerLink="">Village Details</a>
                                </li>
                                <li class="menu-icon fa fa-caret-right">
                                    <a class="Innersubmenu"routerLink="">Survey Number</a>
                                </li>
                                <li class="menu-icon fa fa-caret-right">
                                    <a class="Innersubmenu"routerLink="">Project Detail report</a>
                                </li>
                                <li class="menu-icon fa fa-caret-right">
                                    <a class="Innersubmenu"routerLink="">Award Mutation And closer</a>
                                </li>
                                <li class="menu-icon fa fa-caret-right">
                                    <a class="Innersubmenu"routerLink="">Alignment report</a>
                                </li>
                            </ul>
                              
						</li>	
                        <li class="" routerLinkActive="active">
							<a routerLink="" >
								<i class="menu-icon fa fa-caret-right"></i>
								Crossing View
							</a>	
						</li>
                        <li class="" routerLinkActive="active">
							<a routerLink="" >
								<i class="menu-icon fa fa-caret-right"></i>
								AGI/Terminal Details
							</a>	
						</li>
					</ul>				
				</li>

                <!-- Reports -->
                <li class="open" routerLinkActive="active">
					<a class="dropdown-toggle">
					<i class="menu-icon fa fa-id-badge"></i>
					<span class="menu-text"> Reports </span>
					</a>
					<ul class="submenu">
						<li class="open" routerLinkActive="active">
							<a routerLink="" >
								<i class="menu-icon fa fa-caret-right"></i>
								LAQ (Permanent)
							</a>	
						</li>	
						<li class="" routerLinkActive="active">
							<a routerLink="">
								<i class="menu-icon fa fa-caret-right"></i>
								3(1) Notification
							</a>
						</li>
                        <li class="" routerLinkActive="active">
							<a routerLink="" >
								<i class="menu-icon fa fa-caret-right"></i>
								6(1) Notification
							</a>	
						</li>	
						<li class="" routerLinkActive="active">
							<a routerLink="">
								<i class="menu-icon fa fa-caret-right"></i>
								3(1),6(1) Notices
							</a>
						</li>
                        <li class="" routerLinkActive="active">
							<a routerLink="" >
								<i class="menu-icon fa fa-caret-right"></i>
								Addition/Amendment
							</a>	
						</li>	
						<li class="" routerLinkActive="active">
							<a routerLink="">
								<i class="menu-icon fa fa-caret-right"></i>
								Crossing Details Report
							</a>
						</li>
                        <li class="" routerLinkActive="active">
							<a routerLink="">
								<i class="menu-icon fa fa-caret-right"></i>
								Govt Land Report
							</a>
						</li>
                        <li class="" routerLinkActive="active">
							<a routerLink="">
								<i class="menu-icon fa fa-caret-right"></i>
								AGI/Terminal Reports
							</a>
						</li>	
					</ul>				
				</li> 

                <!-- Administration -->
				<li class="open" routerLinkActive="active">
					 <!-- <div class="dropdown"></div> -->
					<a class="dropdown-toggle">
					<i class="menu-icon fa fa-id-badge"></i>
					<span class="menu-text"> Administration </span>
					</a>
					<ul class="submenu">
						<li class="" routerLinkActive="active">
							<a routerLink="" >
								<i class="menu-icon fa fa-caret-right"></i>
								Create User
							</a>	
						</li>	
						<li class="" routerLinkActive="active">
							<a routerLink="">
								<i class="menu-icon fa fa-caret-right"></i>
								Manage User
							</a>
						</li>
                        <li class="" routerLinkActive="active">
							<a routerLink="" >
								<i class="menu-icon fa fa-caret-right"></i>
								Create Role
							</a>	
						</li>	
						<li class="" routerLinkActive="active">
							<a routerLink="">
								<i class="menu-icon fa fa-caret-right"></i>
								Manage Role
							</a>
						</li>
                        <li class="" routerLinkActive="active">
							<a routerLink="" >
								<i class="menu-icon fa fa-caret-right"></i>
								Manage Web Page Access
							</a>	
						</li>	
						<li class="" routerLinkActive="active">
							<a routerLink="">
								<i class="menu-icon fa fa-caret-right"></i>
								Manage Functionality
							</a>
						</li>
                        <li class="" routerLinkActive="active">
							<a routerLink="">
								<i class="menu-icon fa fa-caret-right"></i>
								Assign District
							</a>
						</li>	
					</ul>				
				</li> 

                <!-- data upload -->
				<li class="open" routerLinkActive="active">
					<a class="dropdown-toggle">
					<i class="menu-icon fa fa-money"></i>
					<span class="menu-text"> Data Upload   </span>
					</a>
					<ul class="submenu">
						<li class="" routerLinkActive="active">
							<a routerLink="" >
								<i class="menu-icon fa fa-caret-right"></i>
								Upload Details
							</a>	
						</li>	
					</ul>				
				</li> 

				
			</ul><!-- /.nav-list -->

			<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
				<i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
			</div>
		</div>
		
		<div class="main-content">
			<div class="main-content-inner">
				<div class="breadcrumbs ace-save-state" id="breadcrumbs">
					<ul class="breadcrumb">
						<li>
							<app-breadcrumb></app-breadcrumb>	
						</li>
					</ul><!-- /.navigation bar add breadcrumb -->
				</div>
				<div class="page-content">

				<!-- Children components add -->	
				<router-outlet></router-outlet>
				</div><!-- page-content -->			
		
			</div>
	</div><!-- /.main-content -->
</div><!-- /.main-container -->

	<script type="text/javascript">
		try{ace.settings.loadState('sidebar')}catch(e){}	
		
		// $('.dropdown-toggle').click(function(){
		// $('.submenu').toggleClass('show');
		// });

	</script>
</body>
	<footer class="sticky-footer bg-gray">
    <div class="footer-inner">
        <div class="copyright text-center my-auto">
			<span class="bigger-100">
			<span class="blue bolder">N.K.Buildcon &nbsp; &nbsp;&nbsp; &nbsp;</span>
			© Copyright 2019. All rights reserved by N.K.Buildcon Pvt. Ltd.
			</span>
		</div>
    </div>
    </footer>	
</html>
