<!DOCTYPE html>
<html lang="en">
<head>	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="no-skin">
	<div id="navbar" class="navbar navbar-default ace-save-state">
		<div class="navbar-container ace-save-state" id="navbar-container">
			<button type="button"  class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
				<span class="sr-only">Toggle sidebar</span> 
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<!--Navigation bar logoimage and logout button-->
			<div class="navbar-header pull-left">
				<img style="height: 45px; " src="/assets/NKBPLImages/NKBPL_logo.png">
			</div>
			<div class="logout">   
				<a class="backIcon" type="button" (click)="logoutBtn()">
					<i class="ace-icon fa fa-power-off"></i>
				</a>
			</div>
		</div><!-- /.navbar-container -->
	</div><!-- /.header navbar-->
<!-- <div> -->

<div class="main-container ace-save-state" id="main-container">
	<!-- <script type="text/javascript">
		try{ace.settings.loadState('main-container')}catch(e){}
	</script> -->
		<div id="sidebar" class="sidebar responsive ace-save-state ">
			<div class="sidebar-shortcuts" id="sidebar-shortcuts">
			<!-- /.sidebar-space -->	
			</div><!-- /.sidebar-shortcuts -->
            <!-- 1st step -->
			<ul class="nav nav-list">
                <!-- 2nd step -->
				<li class="open" routerLinkActive="active">
					<a routerLink="dashboard">
						<i class="menu-icon fa fa-tachometer"></i>
						<span class="menu-text"> Home &nbsp;</span>
					</a>
				</li>

                <!-- project management -->
				<li class="" role="navigation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
					<a class="dropdown-toggle">
					<i class="menu-icon fa fa-id-badge"></i>
					<span class="menu-text"> Project Management </span>
					</a>

					<ul class="submenu">
						<li class="" routerLinkActive="active">
							<a routerLink="Project" >
								<i class="menu-icon fa fa-caret-right"></i>
								Project
							</a>
							<!-- <b class="arrow"></b> -->
						</li>	
						<!-- <li class="" routerLinkActive="active">
							<a routerLink="">
								<i class="menu-icon fa fa-caret-right"></i>
								Jurisdiction
							</a>
						</li>
                        <li class="" routerLinkActive="active">
							<a routerLink="" >
								<i class="menu-icon fa fa-caret-right"></i>
								Section
							</a>	
						</li>	 -->
						<li class="" routerLinkActive="active">
							<a routerLink="">
								<i class="menu-icon fa fa-caret-right"></i>
								Department Details
							</a>
						</li>
                        <li class="" routerLinkActive="active">
							<a routerLink="CAInfo" >
								<i class="menu-icon fa fa-caret-right"></i>
								CA Info
							</a>	
						</li>	
						<li class="" routerLinkActive="active">
							<a routerLink="RegionDetails">
								<i class="menu-icon fa fa-caret-right"></i>
								Region Details
							</a>
						</li>
						<li class="" routerLinkActive="active">
							<a routerLink="test">
								<i class="menu-icon fa fa-caret-right"></i>
								Survey Agency test
							</a>
						</li>	
					</ul>				
				</li> 

                <!-- add/edit section -->
                <li class="open" routerLinkActive="active">
					<a class="dropdown-toggle">
					<i class="menu-icon fa fa-pencil-square-o"></i>
					<span class="menu-text"> Survey Details   </span>
					</a>
					<ul class="submenu">
						<li class="" routerLinkActive="active">
							<a routerLink="GazetteDetails" >
								<i class="menu-icon fa fa-caret-right"></i>
								Gazzettes
							</a>	
						</li>
						<li class="" routerLinkActive="active">
							<a routerLink="VillageDetails">
								<i class="menu-icon fa fa-caret-right"></i>
								Village
							</a>
						</li>	
						<li class="" routerLinkActive="active">
							<a routerLink="SurveyDetails">
								<i class="menu-icon fa fa-caret-right"></i>
								Survey Numbers
							</a>
						</li>
                        <li class="" routerLinkActive="active">
							<a routerLink="CrossingDetails">
								<i class="menu-icon fa fa-caret-right"></i>
								Crossings
							</a>	
						</li>
						<li class="" routerLinkActive="active">
							<a routerLink="CropRates">
								<i class="menu-icon fa fa-caret-right"></i>
								Crop Rates
							</a>	
						</li>	
						<li class="" routerLinkActive="active">
							<a routerLink="LandRates">
								<i class="menu-icon fa fa-caret-right"></i>
								Land Rates
							</a>	
						</li>		
						<li class="" routerLinkActive="active">
							<a routerLink="AGI_Terminals">
								<i class="menu-icon fa fa-caret-right"></i>
								AGI/Terminals
							</a>
						</li>
                        <li class="" routerLinkActive="active">
							<a routerLink="SurveyDocuments">
								<i class="menu-icon fa fa-caret-right"></i>
								Survey Documents
							</a>	
						</li>	
                        <li class="" routerLinkActive="active">
							<a routerLink="View_Adhoc_Payment">
								<i class="menu-icon fa fa-caret-right"></i>
								Ad Hoc Payment
							</a>
						</li>	
					</ul>				
				</li>

				
                <!-- View  Details -->
				<li class="open" routerLinkActive="active">
					<a class="dropdown-toggle">
					<i class="menu-icon fa fa-book"></i>
					<span class="menu-text"> Survey Analysis   </span>
					</a>
					<ul class="submenu">
						<li class="" routerLinkActive="active">
							<a routerLink="ViewCrossingDetails">
								<i class="menu-icon fa fa-caret-right"></i>
								Crossings Details
							</a>	
						</li>
						
						<li class="" routerLinkActive="active">
							<a routerLink="VeiwVillageDetails">
								<i class="menu-icon fa fa-caret-right"></i>
								Village Details
							</a>	
						</li>

						<li class="" routerLinkActive="active">
							<a routerLink="ViewSurveyTabs" >
								<i class="menu-icon fa fa-caret-right"></i>
								Survey Number Details
							</a>	
						</li>
						
						<li class="" routerLinkActive="active">
							<a routerLink="ViewProjectReports" >
								<i class="menu-icon fa fa-caret-right"></i>
								Project Reports
							</a>	
						</li>
						
						<li class="" routerLinkActive="active">
							<a routerLink="ViewAlignmentReports" >
								<i class="menu-icon fa fa-caret-right"></i>
								Alignment Reports
							</a>	
						</li>

						<li class="" routerLinkActive="active">
							<a routerLink="ViewAwardReports" >
								<i class="menu-icon fa fa-caret-right"></i>
								Awards and Mutations
							</a>	
						</li>
						
						<li class="" routerLinkActive="active">
							<a routerLink="" >
								<i class="menu-icon fa fa-caret-right"></i>
								AGI/Terminal View
							</a>	
						</li>
						
						<li class="" routerLinkActive="active">
							<a routerLink="" >
								<i class="menu-icon fa fa-caret-right"></i>
								Compensation details
							</a>	
						</li>	
                        <li class="" routerLinkActive="active">
							<a routerLink="LAQPermanent" >
								<i class="menu-icon fa fa-caret-right"></i>
								LAQ Permanent
							</a>	
						</li>
						<li class="" routerLinkActive="active">
							<a routerLink="ViewNotification">
								<i class="menu-icon fa fa-caret-right"></i>
								Notification Details
							</a>	
						</li>
                        <li class="" routerLinkActive="active">
							<a routerLink="ViewNotice">
								<i class="menu-icon fa fa-caret-right"></i>
								Notice Details
							</a>	
						</li>
						<li class="" routerLinkActive="active">
							<a routerLink="" >
								<i class="menu-icon fa fa-caret-right"></i>
								Govt Land report
							</a>	
						</li>
					</ul>				
				</li>

                <!-- Reports -->
                <li class="" routerLinkActive="active">
					<a class="dropdown-toggle">
					<i class="menu-icon fa fa-id-badge"></i>
					<span class="menu-text"> User </span>
					</a>
					<ul class="submenu">
						<li class="open" routerLinkActive="active">
							<a routerLink="" >
								<i class="menu-icon fa fa-caret-right"></i>
								Assign Project
							</a>	
						</li>	
						<li class="" routerLinkActive="active">
							<a routerLink="">
								<i class="menu-icon fa fa-caret-right"></i>
								Add User
							</a>
						</li>
                        <li class="" routerLinkActive="active">
							<a routerLink="" >
								<i class="menu-icon fa fa-caret-right"></i>
								Assign Roles
							</a>	
						</li>	
					</ul>				
				</li> 
			</ul><!-- /.nav-list -->

			<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
				<i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
			</div>
		</div>
		
		<div class="main-content">
			<div class="main-content-inner">
				<!-- <div class="breadcrumbs ace-save-state" id="breadcrumbs">
					<ul class="breadcrumb">
						<li>
							<app-breadcrumb></app-breadcrumb>	
						</li>
					</ul>
				</div> -->
				<!-- /.navigation bar add breadcrumb -->
				<div class="page-content">

				<!-- Children components add -->	
				<router-outlet>
					<ngx-spinner type="ball-clip-rotate-multiple" bdColor="rgba(51,51,51,0.8)"
					size="default" color="white"[fullScreen]="false">
						<p style="color: rgb(255, 255, 255)" > Loading... </p>
					</ngx-spinner>
				</router-outlet>
				</div><!-- page-content -->			
		
			</div>
	</div><!-- /.main-content -->
</div><!-- /.main-container -->

	<script type="text/javascript">
		try{ace.settings.loadState('sidebar')}catch(e){}	
		
		$('.dropdown-toggle').click(function(){
		$('.submenu').toggleClass('hide');
		});

	</script>
</body>
	<footer class="sticky-footer bg-gray">
    <div class="footer-inner">
        <div class="copyright text-center my-auto">
			<span class="bigger-100">
			<span class="blue bolder">N.K.Buildcon &nbsp; &nbsp;&nbsp; &nbsp;</span>
			© Copyright 2019. All rights reserved by N.K.Buildcon Pvt. Ltd.
			</span>
		</div>
    </div>
    </footer>	
</html>
