.col-sm-2 {
    /* max-width: 6%; */
    font-weight: 550;
}
.innercard {
    margin-left: 1%;
}
.btn-primary{
    margin-left: 5px;
    background-color:linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    border-color :#428bca;
    font-weight: 550;
    margin-top: 1%;
}
.form-group {
    margin-bottom: 0.6rem;
}
.form-group input:disabled{
    color: black;
}
.row{
    margin-bottom: 0.5%;
    
}
.EditVillageBtn{
    margin-left: 1.5%;
    margin-bottom: 1%;
}
.labelrow{
    box-sizing: border-box;
    background-color: #f5f5f5;
    margin-left: -1%;
    margin-top: 0.5%;
    height: 3.5%;
    margin-bottom: 1%;
    color: #000;
    font-size: 16px;
    font-weight: 550;
    /*font-size: 15px; 
    text-align: center;*/
    
}

.Title{
    font-size: 16px;
    font-weight: 550;
    margin-top: -5px;
    margin-left: 1.5%;
}

.Label{
    font-weight: 550;
    font-size: 14px;
    margin-bottom: 2px;
}
.AddChainageDetailsBtn{
    margin-top: 2%;
}