
<app-filters [filterControls]="_FilterControls"></app-filters>

<!--
<div>
    <div class="row">
        <div class="col-lg-3">
            <label class ="dropdownsLabel"> State </label>
            <select class="form-control" [(ngModel)]="_SearchCriteria.StateId"(change)="PopulateDistrict($event.target.value)">
                <option *ngFor="let data of _StateDataModel" [value]="data.StateId">{{data.Name}}</option>
            </select>
          </div>
          <div class="col-lg-3">
            <label class ="dropdownsLabel"> District  </label>
            <select class="form-control"[(ngModel)]="_SearchCriteria.DistrictId"(change)="PopulateTaluka($event.target.value)">
                <option *ngFor="let data of _DistrictDetails"[value]="data.DistrictId">{{data.DistrictName }}</option>
            </select>
        </div>
        <div class="col-lg-3">
            <label class ="dropdownsLabel"> Taluka  </label>
            <select class="form-control"[(ngModel)]="_SearchCriteria.TalukaId"(change)="GetVillageByTalukaId($event.target.value)">
                <option *ngFor="let data of _TalukaDetails"[value]="data.TalukaId">{{data.TalukaName}}</option>
            </select>
        </div>
        <div class="col-lg-3">
            <label class ="dropdownsLabel"> Village  </label>
            <select class="form-control"[(ngModel)]="_SearchCriteria.VillageId">
                <option *ngFor="let data of _VillageDetails" [value]="data.VillageId">{{ data.VillageNameEng }}</option>
            </select>
        </div>
    </div>

    <div class="row">
        
        <div class="col-lg-3">
           <button class="btn-round" (click)="SearchData()">Search</button>
         </div>
    </div>
</div>
<br>
-->
<form>
    <div class="card"*ngIf ="_ShowVillageDetailsDiv == true">
        <div class="innercard">
            <div>
                <button class="btn-primary" (click)="AddVillageDetails()">
                    <i class="fa fa-plus-circle"></i>&nbsp;
                    Add New Village
                </button>&nbsp;&nbsp; 
                <button class="btn-primary" (click)="EditVillageDetails()">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;
                    Edit Village Details
                </button>&nbsp;&nbsp;  
                <button class="btn-danger" (click)="DeleteVillageDetails()">
                    <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;
                    Delete Village Details
                </button>
            </div>
             <hr>  

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Village Number</label>
                <div class="col-lg-3">
                    <input type="text" class="form-control" [(ngModel)]="_VillageResponseModel.Result.VillageNumber" [ngModelOptions]="{standalone: true}"[disabled]="_DisabledInputField">
                </div>

                <label class="col-sm-2 col-form-label">Village Name (English)</label>
                <div class="col-lg-3">
                    <input type="text" class="form-control" [(ngModel)]="_VillageResponseModel.Result.VillageNameEng"[ngModelOptions]="{standalone: true}"[disabled]="_DisabledInputField">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Revenue Village Number</label>
                <div class="col-lg-3">
                    <input type="text" class="form-control"[(ngModel)]="_VillageResponseModel.Result.RevenueVillageNumber"[ngModelOptions]="{standalone: true}"[disabled]="_DisabledInputField">
                </div>

                <label class="col-sm-2 col-form-label">Village Name (Hindi) </label>
                <div class="col-lg-3">
                    <input type="text" class="form-control"[(ngModel)]="_VillageResponseModel.Result.VillageNameHindi"[ngModelOptions]="{standalone: true}"[disabled]="_DisabledInputField">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Number of Population </label>
                <div class="col-lg-3">
                    <input type="text" class="form-control"[(ngModel)]="_VillageResponseModel.Result.NoOfPopulation"[ngModelOptions]="{standalone: true}"[disabled]="_DisabledInputField">
                </div>

                <label class="col-sm-2 col-form-label">Village Name (Local) </label>
                <div class="col-lg-3">
                    <input type="text" class="form-control"[(ngModel)]="_VillageResponseModel.Result.VillageNameLocal" [ngModelOptions]="{standalone: true}"[disabled]="_DisabledInputField">
                </div>
            </div>
        </div> 

        <div class="innercard">
            <div class="labelrow">
                <div class="Title">Chainge Details</div> 
            </div>

            <div class="form-group row"*ngFor="let data of _VillageResponseModel.Result.Chainages">
                <div class="col-lg-3">
                    <label class ="Label">Chainge From(Km)</label>
                    <input class="form-control"[(ngModel)]="data.ChainageFrom"[ngModelOptions]="{standalone: true}"[disabled]="_DisabledInputField">
                </div>
                <div class="col-lg-3">
                    <label class ="Label">Chainge To(Km)</label>
                    <input class="form-control"[(ngModel)]="data.ChainageTo"[ngModelOptions]="{standalone: true}"[disabled]="_DisabledInputField">
                </div>
                <div class="col-lg-3">
                    <label class ="Label">Survey Agency</label>
                    <select class="form-control"[ngModelOptions]="{standalone: true}"[disabled]="_DisabledInputField"[(ngModel)]="data.SurveyAgency">
                        <option value="1">NKBPL</option>
                    </select>
                </div>
                <div class="col-lg-3"*ngIf="_AddNewVillage == true">
                    <label class ="Label">Action</label>
                    <div class="AddChainageDetailsBtn">
                        <button class="btn-primary" (click)="AddChainageDetails()">
                        Add 
                        </button>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-10 offset-1 col-lg-8 offset-lg-2 div-wrapper d-flex justify-content-center align-items-center">
                <div class="div-to-align">
                    <br>
                    <button type="button" class="btn btn-primary" (click)=" SaveVillageDetails()">
                        Save Village Details
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
<br>

<!-- *ngIf ="_ShowVillageDetailsDiv == true" -->
<!-- <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="stripe table table-striped table-bordered" width="98%" >
    <thead>
        *ngIf="_VillageDetailsDataModel.VillageChainage?.length != 0"
        <tr>           
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        *ngIf="_VillageDetailsDataModel.VillageChainage?.length != 0"
        <tr>           
            <td ></td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td colspan="3" class="no-data-available">No data!</td>
        </tr>
    </tbody>
</table> -->