<!-- add filter component ,pass and get data from child -->
<app-filters [filterControls]="_FilterControls"(filterOutput)="GetValuesFromFilters($event)"></app-filters>
<br>
<form>
    <div class="card"*ngIf ="_ShowVillageDetailsDiv == true">
        <div class="innercard">
            <div>
                <button class="btn-primary" (click)="AddVillageDetails()">
                    <i class="fa fa-plus-circle"></i>&nbsp;
                    Add New Village
                </button>&nbsp;&nbsp; 
                <button class="btn-primary" (click)="EditingModeOntoVillageDetails()">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;
                    Edit Village Details
                </button>&nbsp;&nbsp;  
                <button class="btn-danger" (click)="DeleteVillageDetails()">
                    <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;
                    Delete Village Details
                </button>
            </div>
             <hr>  

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Village Number</label>
                <div class="col-lg-3">
                    <input type="text" class="form-control" [(ngModel)]="_VillageResponseModel.Result.VillageNumber" [ngModelOptions]="{standalone: true}"[disabled]="_DisabledInputField">
                </div>

                <label class="col-sm-2 col-form-label">Village Name (English)</label>
                <div class="col-lg-3">
                    <input type="text" class="form-control" [(ngModel)]="_VillageResponseModel.Result.VillageNameEng"[ngModelOptions]="{standalone: true}"[disabled]="_DisabledInputField">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Revenue Village Number</label>
                <div class="col-lg-3">
                    <input type="text" class="form-control"[(ngModel)]="_VillageResponseModel.Result.RevenueVillageNumber"[ngModelOptions]="{standalone: true}"[disabled]="_DisabledInputField">
                </div>

                <label class="col-sm-2 col-form-label">Village Name (Hindi) </label>
                <div class="col-lg-3">
                    <input type="text" class="form-control"[(ngModel)]="_VillageResponseModel.Result.VillageNameHindi"[ngModelOptions]="{standalone: true}"[disabled]="_DisabledInputField">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Number of Population </label>
                <div class="col-lg-3">
                    <input type="text" class="form-control"[(ngModel)]="_VillageResponseModel.Result.NoOfPopulation"[ngModelOptions]="{standalone: true}"[disabled]="_DisabledInputField">
                </div>

                <label class="col-sm-2 col-form-label">Village Name (Local) </label>
                <div class="col-lg-3">
                    <input type="text" class="form-control"[(ngModel)]="_VillageResponseModel.Result.VillageNameLocal" [ngModelOptions]="{standalone: true}"[disabled]="_DisabledInputField">
                </div>
            </div>
        </div> 

        <div class="row" *ngIf="_DisabledInputField == false && _NewVillageAdd == false">
            <div class="col-10 offset-1 col-lg-8 offset-lg-2 div-wrapper d-flex justify-content-center align-items-center">
                <div class="div-to-align">
                    <br>
                    <button type="button" class="btn btn-primary" (click)="SaveVillageDetails()">
                        Edit Village Details
                    </button>
                </div>
            </div>
            <br>
        </div>
        <!-- <div class="row">
            <div class="col-10 offset-1 col-lg-8 offset-lg-2 div-wrapper d-flex justify-content-center align-items-center">
                <div class="div-to-align"*ngIf="_DisabledInputField == false && _NewVillageAdd == true">
                    <br>
                    <button type="button" class="btn btn-primary" (click)="SaveVillageDetails()">
                       Add Village Details
                    </button>
                </div>
            </div>
        </div> -->
    </div>
</form>
<br>

<div class="card" *ngIf ="_ShowVillageDetailsDiv == true">
    <div class="innercard">
        <div class="labelrow">
            <div class="Title">Chainge Details</div> 
        </div>
        <div class="form-group row">
            <div class="col-lg-3">
                <label class ="Label">Chainge From(Km)</label>
                <input class="form-control"[(ngModel)]="_VillageChainageResModel.Result.ChainageFrom"[ngModelOptions]="{standalone: true}"[disabled]="_DisabledInputField && _DisabledChainageField">
            </div>
            <div class="col-lg-3">
                <label class ="Label">Chainge To(Km)</label>
                <input class="form-control"[(ngModel)]="_VillageChainageResModel.Result.ChainageTo"[ngModelOptions]="{standalone: true}"[disabled]="_DisabledInputField && _DisabledChainageField">
            </div>
            <div class="col-lg-3">
                <label class ="Label">Survey Agency</label>
                <select class="form-control"[ngModelOptions]="{standalone: true}"[disabled]="_DisabledInputField && _DisabledChainageField"[(ngModel)]="_VillageChainageResModel.Result.SurveyAgency">
                    <option value="1">NKBPL</option>
                </select>
            </div>
            <div class="col-lg-3">
                <label class ="Label" >Action</label>
                <div class="AddChainageDetailsBtn" *ngIf ="_NewVillageAdd == true">
                    <button class="btn-primary"(click)="AddChainageItem()">
                    <i class="fa fa-plus-circle"></i>&nbsp;
                    Add Chainage
                    </button>
                </div>
                <div class="AddChainageDetailsBtn" *ngIf ="_NewVillageAdd == false">
                    <button class="btn-primary"(click)="SaveChaingeDetails()">
                    <i class="fa fa-plus-circle"></i>&nbsp;
                    Add Chainage(API)
                    </button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-10 offset-1 col-lg-8 offset-lg-2 div-wrapper d-flex justify-content-center align-items-center">
                <div class="div-to-align"*ngIf="_DisabledInputField == false && _NewVillageAdd == true">
                    <br>
                    <button type="button" class="btn btn-primary" (click)="SaveVillageDetails()">
                       Add Village Details
                    </button>
                </div>
            </div>
        </div>

        <br>
        <table datatable class="stripe table table-striped table-bordered" width="98%" >
            <thead>
                <tr>
                    <th>S.No.</th>           
                    <th>ChainageFrom</th>
                    <th>ChainageTo</th>
                    <th>Survey Agency</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of _VillageResponseModel.Result.Chainages;let i = index">
                    <td>{{data.VillageChainageId}}</td>           
                    <td>{{data.ChainageFrom}}</td>
                    <td>{{data.ChainageTo}}</td>
                    <td>{{data.SurveyAgency}}</td>
                    <td>
                        <button type="button" class="btn-success"(click)="EditOnlyChaingeDetails(data)" title="Edit">
                            <i class="fa fa-edit "></i>
                        </button>&nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn-danger"(click)="DeleteChaingeDetails(data.VillageChainageId)" title="Delete">
                            <i class="fa fa-trash"></i>
                        </button>  
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- 
<table datatable [dtOptions]="dtOptions" class="row-border hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>4</td>
        <td>Yoda</td>
        <td>Skywalker</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Patrick</td>
        <td>Dupont</td>
      </tr>
    </tbody>
  </table> -->

