<html>
  <head>	
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">	
	</head>
<body>
  <div class="container">
    <div class="d-flex justify-content-center h-100">
      <div class="card">
        <div class="card-header">
          <!-- <img src="/assets/NKBPLImages/NKBPL_logo.png"/> -->
          <img src={{this._Login_Logo}} height="75px" width="75px"/>
        </div>
        <!-- <p class="headername">Hindustan Petroleum Corporation Limited</p> -->
        <div class="card-body">
          <form>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ace-icon fa fa-user"style="font-size:21px"></i></span>
              </div>
              <input type="text" class="form-control" [(ngModel)]="_userName" placeholder="Username" [ngModelOptions]="{standalone: true}" >
            </div>

            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ace-icon fa fa-lock" style="font-size:21px"></i></span>
              </div>
              <input type="password" class="form-control" [(ngModel)]="_password" placeholder="Password" [ngModelOptions]="{standalone: true}">
            </div>
            
            <div style="text-align: center">
              <input type="button" value="Login" (click)="Submit()" class="submitBtn">
              <div *ngIf="_error" class="alert alert-danger mt-3 mb-0">{{_error}}</div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </body>
  </html>
