<app-filters [filterControls]="_FilterControls" (filterOutput)="GetValuesFromFilters($event)">
    <div class="exportedbtn">
        <button (click)="CreatedDocFile()"class="btn-success">
            <i class="fa fa-download"></i>    
            Generate Document
        </button>&nbsp;&nbsp;&nbsp;
    </div>
</app-filters>


<div class="card1">
    <div class="Headingdiv">
        GUJRAT STATE PETRONET LIMITED, GADHINAGAR<br>LAND ACQUISTION STATEMENT <br>
        BPPL PIPPELINES 
    </div>
    <div class="villagedetailsdiv">
        <div style="margin-bottom: 2px;">
            <div style="float: left">Village : Bhalak</div>
            <div style="float: right">Chainage : From 68 KM To 70.78 KM</div>
            <div style="margin: 0 auto; width: 200px;">State : Gujrat</div>
        </div>    
        <div>
            <div style="float: left">Taluka : Visnagr</div>
            <div style="float: right">Width of ROU 30 mtr.</div>
            <div style="margin: 0 auto; width: 200px;">District : Mahsma</div>
        </div>
    </div>
    <table class="table table-bordered" width="90%">
        <tr>  
            <th rowspan="2"width="6%">S.No.</th>  
            <th rowspan="2">Survey/Block No.</th>  
            <th colspan="3"width="25%">Area</th>  
            <th rowspan="2"width="20%">Name Of Landowner</th>
            <th rowspan="2">Name Of Kabjedar</th>
            <th rowspan="2">Remarks</th>
        </tr> 
        <!-- class="table-active" -->
        <tr>
            <th>Ha</th>
            <th>Are</th>
            <th>Sqmt</th>
        </tr> 
        <tr>
            <td>1</td>
            <td>gfdgfdrg</td>
            <td>423</td>
            <td>54</td>
            <td>534</td>
            <td>vdjhsagf bfuew</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>76</td>
            <td>765</td>
            <td>34</td>
            <td>husstjh hfgj</td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>
