table, th, td {
    border: 1px solid black;
    text-align: center;
  }

.villagedetailsdiv{
    font-weight: 550;
    width: 100%;
}
.Headingdiv{
    margin: 0 auto; 
    width: 500px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 15px;
}
.exportedbtn{
    margin-top: 5.5%;
    margin-left: -150px;
}
.card1{
    width: 90%;
    margin-left: 5%;
}
.pdfclass{
    width: 95%;
}
* { box-sizing: border-box; }