<input type="checkbox"[(ngModel)]="_ShowDisasterPoints" [ngModelOptions]="{standalone: true}"> 
<b>&nbsp; Get Disaster Points</b>

<div id="map" data-toggle="modal" data-target="#DetailsModal">
    <!-- <div class="ol-custom ol-unselectable ol-control">
        <input type="checkbox"[(ngModel)]="_ShowDisasterPoints" [ngModelOptions]="{standalone: true}">&nbsp;Disaster Points
    </div> -->
</div> 
<div id="popup" class="ol-popup">
    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
    <div id="popup-content"></div>
</div>

<div class="container"*ngIf="_ShowDisasterPoints == true">
    <!-- Modal -->
    <div class="modal" id="DetailsModal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><b>
                    <i class='fa fa-eye fa-fw'style='font-size:24px'></i> 
                    Nearest Disaster Points
                </b></h5>  
                <button type="button" #closebutton class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <table class="stripe table table-striped table-bordered" width="98%">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Name</th>
                                <th>Address</th>
                                <th>Phone</th>
                                <th>Distance</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let details of _DisasterManagementDetails">
                                <td>{{details.Type}}</td>
                                <td>{{details.Name}}</td>
                                <td>{{details.Address}}</td>
                                <td>{{details.Phone}}</td>
                                <td>{{details.Distance}}</td>
                            </tr>
                        </tbody>
                    </table>        
                </div>
            </div>
            <div class="modal-footer">
            </div> 
        </div>
      </div>
    </div>
</div>