.SaveDataClass,.UploattchClass{
    margin-top: 10%;
    width: 50%;
}
.FileInputClass
    {
        margin-top: 11%;
    }
.hide
    {
        display: none;
    }

.show
    {
        display: block;
    }