<div class="modal-header">
    <h5 class="modal-title"><b>{{_modelTitle}} Vilage Details</b></h5>
    <button type="button" class="close" data-dismiss="modal" (click)="closeModal('dismiss')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body"> 
        <div class="row">      
            <div class="col-lg-4">
                <label class ="dropdownsLabel">Village Number</label>
                <input type="text" class="form-control"[(ngModel)]="_VillageDetailsDataModel.VillageDetails.VillageNo" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="col-lg-4">
                <label class ="dropdownsLabel">Village Name (English)</label>
                <input type="text" class="form-control"[(ngModel)]="_VillageDetailsDataModel.VillageDetails.VillageNameEnglish" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="col-lg-4">
                <label class ="dropdownsLabel">Revenue Village Number</label>
                <input type="text" class="form-control"[(ngModel)]="_VillageDetailsDataModel.VillageDetails.RevenueVillageNo" [ngModelOptions]="{standalone: true}">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <label class ="dropdownsLabel">Village Name (Hindi) </label>
                <input type="text" class="form-control"[(ngModel)]="_VillageDetailsDataModel.VillageDetails.VillageNameHindi"[ngModelOptions]="{standalone: true}">
            </div>
            <div class="col-lg-4">
                <label class ="dropdownsLabel">Number of Population </label>
                <input type="text" class="form-control"[(ngModel)]="_VillageDetailsDataModel.VillageDetails.NoOfpopulation"[ngModelOptions]="{standalone: true}">
            </div>
            <div class="col-lg-4">
                <label class ="dropdownsLabel">Village Name (Local) </label>
                <input type="text" class="form-control"[(ngModel)]="_VillageDetailsDataModel.VillageDetails.VillageNameLocal"[ngModelOptions]="{standalone: true}">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <label class ="dropdownsLabel">InActive Reason </label>
                <input type="text" class="form-control"[(ngModel)]="_VillageDetailsDataModel.VillageDetails.InActiveReason" [ngModelOptions]="{standalone: true}">
            </div>
        </div> 
        
        <div class="row">
            <div class="col-lg-6">
                <div *ngIf ="_AddOrEdit == 'Add'" > 
                    <button class="AddBtn" (click)="AddChainageDetailsDiv()">
                        <i class="fa fa-plus-circle"></i>
                        Add
                    </button>
                </div>
            </div>
        </div>


        <div class="row"*ngFor="let data of _ChainageDetailsArray; index as i;" >
            <div class="col-lg-4">
                <label class ="dropdownsLabel">Chainage From </label>
                <input type="text" class="form-control"[value]="data.ChainageFrom"[(ngModel)]="data.ChainageFrom"  [ngModelOptions]="{standalone: true}"(change)="ChangeChainageFrom(i,$event.target.value)">
            </div>
            <div class="col-lg-4">
                <label class ="dropdownsLabel">Chainage To </label>
                <input type="text" class="form-control"[value]="data.ChainageTo" [(ngModel)]="data.ChainageTo" [ngModelOptions]="{standalone: true}"(change)="ChangeChainageTo(i,$event.target.value)">
            </div>
            <div class="col-lg-4">
                <label class ="dropdownsLabel">Surveyor Name </label>
                <input type="text" class="form-control"[value]="data.SurveyorName"[(ngModel)]="data.SurveyorName" [ngModelOptions]="{standalone: true}" (change)="ChangeSurveyorName(i,$event.target.value)">
            </div>
        </div>
        
       
        <!--<div id="content">
            <div id="contentInside" *ngFor="let container of containers">
                <div class="row" >
                    <div class="col-lg-4">
                        <label class ="dropdownsLabel">Chainage From </label>
                        <input type="text" class="form-control"[(ngModel)]="_VillageDetailsDataModel.VillageChainage.ChainageFrom"[ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="col-lg-4">
                        <label class ="dropdownsLabel">Chainage To </label>
                        <input type="text" class="form-control"[(ngModel)]="_VillageDetailsDataModel.VillageChainage.ChainageTo" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="col-lg-4">
                        <label class ="dropdownsLabel">Surveyor Name </label>
                        <input type="text" class="form-control"[(ngModel)]="_VillageDetailsDataModel.VillageChainage.SurveyorName"[ngModelOptions]="{standalone: true}">
                    </div>
                </div>
            </div>
        </div> -->

        <div class="col-10 offset-1 col-lg-8 offset-lg-2 div-wrapper d-flex justify-content-center align-items-center">
            <div class="div-to-align">
                <button type="submit" class="btn-primary" ngbTooltip=""(click)="SubmitDetails()">
                    {{_modelTitle}} Details
                </button>  
            </div>
        </div>
</div>
<div class="modal-footer">
</div>

