<app-filters [filterControls]="_FilterControls"(filterOutput)="GetValuesFromFilters($event)">
</app-filters>
<br>
<div class="card" *ngIf="_ShowLandDetailsDiv == false">
    <h5 style="color: red;"><b>Please Select Village Name</b></h5>
</div>
<div *ngIf="_ShowLandDetailsDiv == true">
    <div class="AddEditBtn"> 
        <button class="btn-primary" (click)="AddNewLandDetails()"data-toggle="modal" data-target="#LandRateModal">
            <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;
            Add Land Rates
        </button> 
    </div>
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="stripe table table-striped table-bordered" width="98%" >
        <thead>
            <tr>  
                <th>Action</th>
                <th>Reserve Price Ha</th> 
                <th>Sale Deed Price Ha</th>   
                <th>CA Price Ha</th>  
                <th>Market Rate Date</th>       
                <th>CA Remarks</th>   
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of _LandRateDetails;let i = index">
                <td>
                    <button type="button" class="btn-success"(click)="EditLandRates(data)" title="Edit" data-toggle="modal" data-target="#LandRateModal">
                        <i class="fa fa-edit"></i>
                    </button>&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn-danger" mwlConfirmationPopover  [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage" placement="top"(confirm)="DeleteLandRates(data)" title="Delete">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>          
                <td>{{data.ReservePriceHa}}</td>
                <td>{{data.SaleDeedPriceHa}}</td>
                <td>{{data.CAPriceHa }}</td>
                <td>{{data.MarketRateDate | date:'mediumDate'}}</td>
                <td>{{data.CARemarks}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <!-- Modal -->
    <div class="modal" id="LandRateModal" role="dialog" *ngIf="_SearchCriteria.VillageId != null">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <b><i class='fa fa-edit'style='font-size:24px'></i> 
                    {{_PopupTitle}}
                    </b>
                </h5>  
                <button type="button" #closebutton class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <div class="form-group row">
                    <!-- <div class="col-lg-6">
                        <label class="Label">Land Types</label>
                        <select class="form-control"[(ngModel)]="_LandRatesModel.CropLookupId">
                            <option *ngFor="let data of _CropDropDownsModel.CropNames"[value]="data.Value">
                                {{data.Text}}
                            </option>
                        </select>
                    </div> -->
                    <div class="col-lg-6">
                        <label class="Label">Reserve Price Ha</label>
                        <input type="text" class="form-control" [(ngModel)]="_LandRatesModel.ReservePriceHa">
                    </div>
                    <div class="col-lg-6">
                        <label class="Label">Sale Deed Price Ha</label>
                        <input type="text" class="form-control" [(ngModel)]="_LandRatesModel.SaleDeedPriceHa">
                    </div>
                    <div class="col-lg-6">
                        <label class="Label">CA Price Ha</label>
                       <input type="text" class="form-control"[(ngModel)]="_LandRatesModel.CAPriceHa">
                    </div>
                    <div class="col-lg-6">
                        <label class="Label">Market Rate Date</label>
                        <input *ngIf="_DisabledInputField != true" type="date" class="form-control"[value]="_LandRatesModel.MarketRateDate | date:'yyyy-MM-dd'" (input)="_LandRatesModel.MarketRateDate = $event.target.valueAsDate" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker"[ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="col-lg-6">
                        <label class="Label">CA Remarks</label>
                        <input type="text" class="form-control"[(ngModel)]="_LandRatesModel.CARemarks">
                    </div>
                </div>

                <div class="row">
                    <div class="col-10 offset-1 col-lg-8 offset-lg-2 div-wrapper d-flex justify-content-center align-items-center">
                        <div class="div-to-align">
                            <br>
                        <button type="button" class="btn-primary" (click)="SaveLandDetails()">
                                Save Land Rates  
                        </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div> 
        </div>
      </div>
    </div>
    
</div>