<app-filters [filterControls]="_FilterControls"(filterOutput)="GetValuesFromFilters($event)"(ChangedVillage)="SearchFilterChanged($event)"(ResetFilterValues)="ResetFilterValues($event)">
</app-filters>
<br>
<div class="card" [ngClass]="_ShowLandDetailsDiv == false ? 'show' : 'hide'">
    <h5 style="color: red;"><b>Please Select Village and Type of Land!! </b></h5>
</div>

<div [ngClass]="_ShowLandDetailsDiv == true ? 'show' : 'hide'">
    <div class="card">
        <div class="innercard">
            <div class="d-flex justify-content-between">
                <div class="CardTitle">Land Rates{{this._VillageName}}</div> 
            </div>
            <div class="AddEditBtn"> 
                <button class="btn-primary" (click)="AddNewLandDetails()"data-toggle="modal" data-target="#LandRateModal">
                    <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;
                    Add Land Rates
                </button> 
            </div>
            <table datatable [dtOptions]="dtOptions[1]" [dtTrigger]="dtTrigger1" class="stripe table table-striped table-bordered" width="98%" >
                <thead>
                    <tr>  
                        <th>Action</th>
                        <th>MeasureUnit</th>
                        <th>SurveyNumber</th>
                        <th>Reserve Price</th> 
                        <th>Sale Deed Price</th>   
                        <th>CA Price</th>  
                        <th>Market Rate Date</th>       
                        <th>CA Remarks</th>   
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of _LandandDocDetailsModel.Lands;let i = index">
                        <td>
                            <button type="button" class="btn-success"(click)="EditLandRates(data)" title="Edit" data-toggle="modal" data-target="#LandRateModal">
                                <i class="fa fa-edit"></i>
                            </button>&nbsp;&nbsp;&nbsp;
                            <button type="button" class="btn-danger" mwlConfirmationPopover  [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage" placement="top"(confirm)="DeleteLandRates(data)" title="Delete">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>   
                        <td>{{GetLookupValue(_LandDropDownsModel.MeasureUnits,data.MeasureUnit)}}</td>
                        <td>{{data.SurveyNumber}}</td>       
                        <td>{{data.ReservePriceHa}}</td>
                        <td>{{data.SaleDeedPriceHa}}</td>
                        <td>{{data.CAPriceHa }}</td>
                        <td>{{data.MarketRateDate | date:'mediumDate'}}</td>
                        <td>{{data.CARemarks}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div><br>

    <div>
        <div class="innercard">
            <div class="d-flex justify-content-between">
                <div class="CardTitle">Documents Details</div> 
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <label class ="Label">Document Types</label>
                    <ng-select [allowClear]="true" [items]="_LandDropDownsModel.LandDocuments" bindLabel="Text" bindValue ="Value" [(ngModel)]="_LandRatesdocument.Lookupid" [multiple]="false"[ngModelOptions]="{standalone: true}"placeholder="-- Select Document Type --"> 
                    </ng-select>
                </div>
                <div class="col-lg-3">
                    <div class="FileInputClass">
                        <input #fileInput (change)="onChangeDocument($event)"type="file" id="Upload"[ngModelOptions]="{standalone: true}"/>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="UploattchClass">
                        <button class="btn-primary" (click)="FileUpload(true,fileInput)">Upload Document</button>
                    </div>
                </div>    
            </div><br>
            <table datatable [dtOptions]="dtOptions[2]" [dtTrigger]="dtTrigger2" class="stripe table table-striped table-bordered" width="98%" >
                <thead>
                    <tr>  
                        <th>FileName</th>
                        <th>Document Type</th>
                        <th>Action</th>  
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of _LandandDocDetailsModel.Documents;let i = index">        
                        <td>{{data.FileName}}</td>
                        <td>{{GetLookupValue(_LandDropDownsModel.LandDocuments,data.Lookupid)}}</td>
                        <td>
                            <button type="button" class="btn-success"(click)="DownloadDoc(data)">
                                <i class="fa fa-download"></i>
                            </button>&nbsp;&nbsp;&nbsp;
                            <button type="button" class="btn-danger" mwlConfirmationPopover  [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage" placement="top"(confirm)="DeleteLandDocument(data)" title="Delete">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td> 
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container">
    <!-- Modal -->
    <div class="modal" id="LandRateModal" role="dialog" *ngIf="_SearchCriteria.VillageId != null">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <b><i class='fa fa-edit'style='font-size:24px'></i> 
                    {{_PopupTitle}} {{this._VillageName}} 
                    </b>
                </h5>  
                <button type="button" #closebutton class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <div class="form-group row">
                    <!-- <div class="col-lg-6">
                        <label class="Label">Land Types</label>
                        <select class="form-control"[(ngModel)]="_LandRatesModel.CropLookupId">
                            <option *ngFor="let data of _CropDropDownsModel.CropNames"[value]="data.Value">
                                {{data.Text}}
                            </option>
                        </select>
                    </div> -->
                    <div class="col-lg-6">
                        <label class="Label">Measure Unit</label>
                        <select class="form-control"[(ngModel)]="_LandRatesModel.MeasureUnit">
                            <option *ngFor="let data of _LandDropDownsModel.MeasureUnits"[value]="data.Value">
                                {{data.Text}}
                            </option>
                        </select>
                    </div>
                    <div class="col-lg-6">
                        <label class="Label">Reserve Price</label>
                        <input type="text" class="form-control" [(ngModel)]="_LandRatesModel.ReservePriceHa">
                    </div>
                    <div class="col-lg-6">
                        <label class="Label">Sale Deed Price </label>
                        <input type="text" class="form-control" [(ngModel)]="_LandRatesModel.SaleDeedPriceHa">
                    </div>
                    <div class="col-lg-6">
                        <label class="Label">CA Price</label>
                       <input type="text" class="form-control"[(ngModel)]="_LandRatesModel.CAPriceHa">
                    </div>
                    <div class="col-lg-6">
                        <label class="Label">Market Rate Date</label>
                        <input *ngIf="_DisabledInputField != true" type="date" class="form-control"[value]="_LandRatesModel.MarketRateDate | date:'yyyy-MM-dd'" (input)="_LandRatesModel.MarketRateDate = $event.target.valueAsDate" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker"[ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="col-lg-6">
                        <label class="Label">CA Remarks</label>
                        <input type="text" class="form-control"[(ngModel)]="_LandRatesModel.CARemarks">
                    </div>
                </div>

                <div class="row">
                    <div class="col-10 offset-1 col-lg-8 offset-lg-2 div-wrapper d-flex justify-content-center align-items-center">
                        <div class="div-to-align">
                            <br>
                        <button type="button" class="btn-primary" (click)="SaveLandDetails()">
                                Save Land Rates  
                        </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div> 
        </div>
      </div>
    </div>
    
</div>