.col-lg-3{
    flex: 0 0 20%;
    max-width : 20%;
    font-weight: 550;
}
.col-sm-3,.col-sm-1 ,.col-sm-2,.col-sm-5 {
    font-weight: 550;
}
.btn-primary {
    height: 35px;
    width: 100px;
    font-weight: 550;
}
.form-controlCheckBox{
    display: block;
    width: 100%;
    height: calc(0.5em + 0.5rem + 0.8px);
    /* padding: 0.375rem 0.75rem; */
    margin-top : 25%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: pointer;
}

