<div>
    <!-- info card start -->
    <div class="AddEditBtn"> 
        <button class="btn-primary" (click)="AddNewRestorationDetails()" data-toggle="modal" data-target="#RestorationModal">
            <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;
            Add Restoration Details
        </button>
    </div>
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="stripe table table-striped table-bordered" width="98%" >
        <thead>
            <tr> 
                <th>Action  </th> 
                <th>Panchnama Owner</th> 
                <th>Damage Name</th>   
                <th>Damage Type</th>
                <th>Length(m)</th>
                <th>Approximate Value(Rs.)</th>
                <th>Diameter(inch)</th>
                <th>Width</th>
                <th>Depth(m)</th>
                <th>Height(m)</th>
                <th>Description</th>
                <th>Remarks</th>
                <th>Remarks(Local)</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of _AllSurveyDetails.Result.RestorationDetails;let i = index">  
                <td>
                    <button type="button" class="btn-success"(click)="EditRestorationDetails(data)" title="Edit" data-toggle="modal" data-target="#RestorationModal">
                        <i class="fa fa-edit "></i>
                    </button>&nbsp;&nbsp;
                    <button type="button" class="btn-danger"mwlConfirmationPopover  [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage" placement="right" (confirm)="DeleteRestorationDetails(data)" title="Delete">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>    
                <td>{{GetLookupValue(_AllSurveyDetails.Result.SurveyOwnersDrp,data.SurveyOwnerId)}}</td>
                <td>{{GetLookupValue(SurveyDropDownsData.DamageTypes,data.DamageType)}}</td>
                <td>{{GetLookupValue(SurveyDropDownsData.DamageNames,data.DamageName)}}</td>
                <td>{{data.LengthM}}</td>
                <td>{{data.ApproxValue}}</td>
                <td>{{data.DiameterInch}}</td>
                <td>{{data.WidthM}}</td>
                <td>{{data.DepthM}}</td>
                <td>{{data.HeightM}}</td>
                <td>{{data.Description}}</td>
                <td>{{data.Remarks}}</td>
                <td>{{data.RemarksLocal}}</td>
            </tr>
        </tbody>
    </table>
  </div>

<div class="container">
<!-- Modal -->
    <div class="modal" id="RestorationModal" role="dialog"*ngIf="SurveyNumber != null" >
        <div class="modal-dialog">
        
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <b><i class='fa fa-edit'style='font-size:24px'></i> 
                    {{_PopupTitle}}
                    </b>
                </h5> 
                <button type="button" #closebutton class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
               
                <div class="form-group row">
                    <div class="col-lg-6">
                        <label class="Label">Panchnama Owner Name  <b><h7 style="color: red;">*</h7></b></label>
                        <select class="form-control"[(ngModel)]="_RestorationDataModel.SurveyOwnerId">
                            <option class="DDPlaceholder"[ngValue]="undefined" [disabled]="true">-- Select Owner --</option>
                            <option *ngFor="let data of _AllSurveyDetails.Result.SurveyOwnersDrp"[value]="data.Value">
                                {{data.Text}}
                            </option>
                        </select>
                    </div>
                    <div class="col-lg-6">
                        <label class="Label">Damage Type  <b><h7 style="color: red;">*</h7></b></label>
                        <select class="form-control"[(ngModel)]="_RestorationDataModel.DamageType">
                            <option class="DDPlaceholder"[ngValue]="undefined" [disabled]="true">-- Select Damage Type --</option>
                            <option *ngFor="let data of SurveyDropDownsData.DamageTypes" [value]="data.Value">{{data.Text }}</option>
                        </select>
                    </div>
                    <div class="col-lg-6">
                        <label class="Label">Damage Name  <b><h7 style="color: red;">*</h7></b></label>
                        <select class="form-control"[(ngModel)]="_RestorationDataModel.DamageName">
                            <option class="DDPlaceholder"[ngValue]="undefined" [disabled]="true">Select Damage --</option>
                            <option *ngFor="let data of SurveyDropDownsData.DamageNames" [value]="data.Value">{{data.Text }}</option>
                        </select>
                    </div>
                    <div class="col-lg-6">
                        <label class="Label">Length(m)</label>
                        <input type="text" class="form-control"[(ngModel)]="_RestorationDataModel.LengthM">
                    </div>
                    <div class="col-lg-6">
                        <label class="Label">Approximate Value(Rs.)</label>
                       <input type="text" class="form-control"[(ngModel)]="_RestorationDataModel.ApproxValue">
                    </div>
                    <div class="col-lg-6">
                        <label class="Label">Diameter(inch)</label>
                       <input type="text" class="form-control"[(ngModel)]="_RestorationDataModel.DiameterInch">
                    </div>
                    <div class="col-lg-6">
                        <label class="Label">Width</label>
                       <input type="text" class="form-control"[(ngModel)]="_RestorationDataModel.WidthM">
                    </div>
                    <div class="col-lg-6">
                        <label class="Label">Depth(m)</label>
                       <input type="text" class="form-control"[(ngModel)]="_RestorationDataModel.DepthM">
                    </div>
                    <div class="col-lg-6">
                        <label class="Label">Height(m)</label>
                       <input type="text" class="form-control"[(ngModel)]="_RestorationDataModel.HeightM">
                    </div>
                    <div class="col-lg-6">
                        <label class="Label">Description</label>
                       <input type="text" class="form-control"[(ngModel)]="_RestorationDataModel.Description">
                    </div>
                    <div class="col-lg-6">
                        <label class="Label">Remarks</label>
                        <input type="text" class="form-control"[(ngModel)]="_RestorationDataModel.Remarks">
                    </div>
                    <div class="col-lg-6">
                        <label class="Label">Remarks(Local)</label>
                        <input type="text" class="form-control"[(ngModel)]="_RestorationDataModel.RemarksLocal">
                    </div>
                </div>
                <div class="row">
                    <div class="col-10 offset-1 col-lg-8 offset-lg-2 div-wrapper d-flex justify-content-center align-items-center">
                        <div class="div-to-align">
                            <br>
                        <button type="button" class="btn-primary" (click)="SaveDetails()">
                                Save Restoration Details  
                        </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div> 
        </div>
        </div>
    </div>
</div>
