.btn-primary{
    width: 40%; 
    margin-top: 12%;
    margin-left: 6%;
}

option[value=""][disabled] {
    // display: none;
    color: gray;
  }
  option {
    color: black;
  }
  .disabled {
    color: #888;
  }

 .DDPlaceholder{
    color: #888;
 }

 select[disabled] {
  color: #848484 !important;
  background-color: #eee !important;
}