<div>
    <div class="row">
        <div class="col-lg-3">
            <label class ="dropdownsLabel"> State </label>
            <select class="form-control" [(ngModel)]="_SearchCriteria.StateId"(change)="PopulateDistrict($event.target.value)">
                <option *ngFor="let data of _StateDataModel" [value]="data.StateId">{{data.Name}}</option>
            </select>
          </div>
          <div class="col-lg-3">
            <label class ="dropdownsLabel"> District  </label>
            <select class="form-control"[(ngModel)]="_SearchCriteria.DistrictId"(change)="PopulateTaluka($event.target.value)">
                <option *ngFor="let data of _DistrictDetails"[value]="data.DistrictId">{{data.DistrictName }}</option>
            </select>
        </div>
        <div class="col-lg-3">
            <label class ="dropdownsLabel"> Taluka  </label>
            <select class="form-control"[(ngModel)]="_SearchCriteria.TalukaId"(change)="GetAllVillageDetails($event.target.value)">
                <option *ngFor="let data of _TalukaDetails"[value]="data.TalukaId">{{data.TalukaName}}</option>
            </select>
        </div>
        <div class="col-lg-3">
            <label class ="dropdownsLabel"> Village  </label>
            <select class="form-control"[(ngModel)]="_SearchCriteria.VillageId">
                <option *ngFor="let data of _VillageDetails" [value]="data.VillageId">{{data.VillageNameEng}}</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <label class ="dropdownsLabel"> Chainage To </label>
            <input type="text" class="form-control" [(ngModel)]="_SearchCriteria.ChainageTo" appTwoDigitDecimaNumber>
            <!-- (input)="input($event.target.value)"
            <label>{{this._DropdownDataModel.ChainageTo}}</label> -->
        </div>
        <div class="col-lg-3">
            <label class ="dropdownsLabel"> Chainage From  </label>
            <input type="text" class="form-control"[(ngModel)]="_SearchCriteria.ChainageFrom" appTwoDigitDecimaNumber>
        </div>

        <div class="col-lg-3">
            <label class ="dropdownsLabel"> Survey Number  </label>
            <select class="form-control"[(ngModel)]="_SearchCriteria.SurveyNumber">
                <option *ngFor="let data of _DropdownData"[value]="data.id">{{data.id}}</option>
            </select>
        </div>
        <div class="col-lg-3">
           <button class="btn-round" (click)="SearchData()">Search</button>
         </div>
    </div>
</div>