<div class="row">
    <div class="col-lg-4">
    <label class ="dropdownsLabel">Category</label>
    <select class="form-control"[(ngModel)]="_CategoryID"(change)="CategoryChange()">
        <option *ngFor="let data of _CategoryDataModel.Categories"[value]="data.CategoryID">{{data.CategoryName}}</option>
    </select>
    </div>
</div>
<br>

<div class="card" *ngIf ="_CategoryID == 1">
    <div class="innercard">
        <div class="d-flex justify-content-between">
            <div class="CardTitle">Project Reports</div> 
        </div><br>
        <div class="row">
            <div class="col-lg-3">
                <label class ="dropdownsLabel">Project Wise Report</label>
                <ng-select [allowClear]="true"[items]="_SurveyDocDropDownsDataModel.ProjectWiseReportTypes" bindLabel="Text" bindValue ="Value" [(ngModel)]="_Projectdoc.Lookupid">
                </ng-select>
            </div>
            <div class="col-lg-3">
                <label class ="dropdownsLabel">Description</label>
                <textarea class="form-control"[(ngModel)]="_Projectdoc.Description"[ngModelOptions]="{standalone: true}" id="exampleFormControlTextarea1" rows="1"></textarea>  
            </div>
            <div class="col-lg-3">
                <div class="FileInputClass">
                    <input #fileInput (change)="onChangeDocument($event)"type="file" id="Upload"[ngModelOptions]="{standalone: true}"/>
                </div>
            </div>
            <div class="col-lg-2">
                <button class="btn-primary"style="margin-top: 18%"(click)="UploadProjectReport()"> Upload </button>
            </div>
        </div>
        <br>
        <div>
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"class="stripe table table-striped table-bordered" width="90%" >
                <thead>
                    <tr>
                        <th class="tbstyle">S.No.</th>           
                        <th>Report Type</th>
                        <th>Document Name</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr *ngFor="let data of _ProjectReports; let i = index">    
                        <td class="tbstyle">{{i+1}}</td>       
                        <td>{{GetLookupValue(_SurveyDocDropDownsDataModel.ProjectWiseReportTypes, data.Lookupid)}}</td>
                        <td>{{data.FileName}}</td>
                        <td>{{data.Description}}</td>
                        <td>
                            <button type="button" class="btn-success"title="download" (click)="DownloadDocument(data)">
                                <i class="fa fa-download"></i>
                            </button>&nbsp;&nbsp;&nbsp;
                            <button type="button" class="btn-danger"title="Delete"(click)="DeleteProjectDocument(data)">
                                <i class="fa fa-trash"></i>
                            </button>    
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="card"*ngIf ="_CategoryID == 2">
    <div class="innercard">
        <div class="d-flex justify-content-between">
            <div class="CardTitle">Alignment Sheet Details</div> 
        </div><br>
        <div class="row">
            <div class="col-lg-2">
                <label class ="dropdownsLabel">Alignment Sheets</label>
                <ng-select [allowClear]="true"[items]="_SurveyDocDropDownsDataModel.AlignmentSheetTypes" bindLabel="Text" bindValue ="Value" [(ngModel)]="_Aligntdoc.Lookupid">
                </ng-select>
            </div>
            <div class="col-lg-2">
                <label class ="dropdownsLabel">Alignment Number</label>
                <input class="form-control"[(ngModel)]="_Aligntdoc.Description"[ngModelOptions]="{standalone: true}">
            </div>
            <div class="col-lg-2">
                <label class ="dropdownsLabel">From Chainage </label>
                <input class="form-control"[(ngModel)]="_Aligntdoc.FromChainage"[ngModelOptions]="{standalone: true}"appTwoDigitDecimaNumber>
            </div>
            <div class="col-lg-2">
                <label class ="dropdownsLabel">To Chainage </label>
                <input class="form-control"[(ngModel)]="_Aligntdoc.ToChainage"[ngModelOptions]="{standalone: true}"appTwoDigitDecimaNumber>
            </div>
            <div class="col-lg-2">
                <div class="FileInputClass"style="margin-top: 16%">
                    <input #fileInput (change)="onChangeDocument($event)"type="file" id="Upload"[ngModelOptions]="{standalone: true}"/>
                </div> 
            </div>
            <div class="col-lg-2">
                <button class="btn-primary"style="margin-top: 16%" (click)="UploadAlignmentSheet()">
                    Upload
                </button>
            </div>
        </div><br>
        <div>
            <table datatable [dtOptions]="dtOptions2" [dtTrigger]="dtTrigger2" class="stripe table table-striped table-bordered" width="98%" >
                <thead>
                    <tr> 
                        <th class="tbstyle">S.No.</th>
                        <th>Document</th>
                        <th>Chainage From</th> 
                        <th>Chainage To</th>
                        <th>FileName</th>    
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of  _AlignmentSheets; let i = index">
                        <td class="tbstyle">{{i+1}}</td>  
                        <td>{{GetLookupValue(_SurveyDocDropDownsDataModel.AlignmentSheetTypes, data.Lookupid)}}</td>
                        <td>{{data.FromChainage}}</td>
                        <td>{{data.ToChainage}}</td>
                        <td>{{data.FileName}}</td>
                        <td>
                            <button type="button" class="btn-success"title="download" (click)="DownloadAlignDoc(data)">
                                <i class="fa fa-download"></i>
                            </button>&nbsp;&nbsp;&nbsp;
                            <button type="button" class="btn-danger"title="Delete"(click)="DeleteAlignmentDoc(data)">
                                <i class="fa fa-trash"></i>
                            </button>  
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>    
</div>    


<div class="card" *ngIf ="_CategoryID == 3">
    <div class="innercard">
        <div class="d-flex justify-content-between">
            <div class="CardTitle">Award and Mutation Details</div> 
        </div>
        <app-filters [filterControls]="_FilterControls" (filterOutput)="GetValuesFromFilters($event)">
        </app-filters>
        <br>
        <div class="row">
            <div class="col-lg-3">
                <label class ="dropdownsLabel">Select Document</label>
                <ng-select [allowClear]="true"[items]="_SurveyDocDropDownsDataModel.VillageLevelDocumentsTypes"bindLabel="Text" bindValue ="Value" [(ngModel)]="_Mutationdoc.Lookupid"> 
                </ng-select>
            </div>
            <div class="col-lg-3">
                <div class="FileInputClass">
                    <input #fileInput (change)="onChangeDocument($event)"type="file" id="Upload"[ngModelOptions]="{standalone: true}"/>
                </div> 
            </div>
            <div class="col-lg-3">
                <button class="btn-primary" style="margin-top: 12%"(click)="UploadAwardMutation()">Upload</button>
            </div>
        </div>
        <br>
        <div>
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="stripe table table-striped table-bordered" width="98%" >
                <thead>
                    <tr>
                        <th class="tbstyle">S.No.</th>           
                        <th>Document</th>
                        <th>FileName</th>    
                        <th>Action</th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr *ngFor="let data of  _AwardMutations;let i = index">           
                        <td class="tbstyle">{{i+1}}</td>  
                        <td>{{GetLookupValue(_SurveyDocDropDownsDataModel.VillageLevelDocumentsTypes, data.Lookupid)}}</td>
                        <td>{{data.FileName}}</td>
                        <td>
                            <button type="button" class="btn-success"title="download" (click)="DownloadAwardDoc(data)">
                            <i class="fa fa-download"></i>
                            </button>&nbsp;&nbsp;&nbsp;
                            <button type="button" class="btn-danger"title="Delete"(click)="DeleteAwardDoc(data)">
                            <i class="fa fa-trash"></i>
                            </button>  
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
