<div>
    <div class="AddEditBtn"> 
        <button class="btn-primary" (click)="AddNewLandDetails()" data-toggle="modal" data-target="#LandModal">
            <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;
            Add Land Details
        </button>
    </div>

    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="stripe table table-striped table-bordered" width="98%" >
        <thead>
            <tr>  
                <th>Owner Name</th>    
                <th>LandType</th>
                <th>Ha.</th>
                <th>Are.</th>
                <th>Sqmt.</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of _AllSurveyDetails.Result.LandDetails;let i = index">
                <td>{{data.SurveyOwnerId}}</td>
                <td>{{data.LandType}}</td>
                <td>{{data.Ha}}</td>
                <td>{{data.Are}}</td>
                <td>{{data.Sqmt}}</td>
                <td>
                    <button type="button" class="btn-success"(click)="EditLandDetails(data)" title="Edit" data-toggle="modal" data-target="#LandModal">
                        <i class="fa fa-edit "></i>
                    </button>&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn-danger" mwlConfirmationPopover  [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage" placement="top"(confirm)="DeleteLandDetails()" title="Delete">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
           
</div>

<div class="container" >
<!-- Modal *ngIf="_LandDataModel.SurveyId != null"-->
<div class="modal" id="LandModal" role="dialog" >
    <div class="modal-dialog">
    
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title"><b>
                <i class='fa fa-edit'style='font-size:24px'></i> 
                {{_PopupTitle}}
            </b></h5>  
            <button type="button" #closebutton class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
            <div class="form-group row">
                <div class="col-lg-6">
                    <label class="Label">Owner Name</label>
                    <select class="form-control"[(ngModel)]="_LandDataModel.SurveyOwnerId" >
                        <option></option>
                    </select>
                </div>
                <div class="col-lg-6">
                    <label class="Label">Type Of Land</label>
                    <select class="form-control"[(ngModel)]="_LandDataModel.LandType" >
                        <option *ngFor="let data of SurveyDropDownsData.LandClassifications" [value]="data.Value">{{data.Text}}</option>
                    </select>
                </div>
                <div class="col-lg-4">
                    <label class="Label">Ha</label>
                    <input type="text" class="form-control"[(ngModel)]="_LandDataModel.Ha">
                </div>
                <div class="col-lg-4">
                    <label class="Label">Are</label>
                    <input type="text" class="form-control" [(ngModel)]="_LandDataModel.Are">
                </div>
                <div class="col-lg-4">
                    <label class="Label">Sqmt</label>
                    <input type="text" class="form-control"[(ngModel)]="_LandDataModel.Sqmt">
                </div>
            </div>
            <div class="row">
                <div class="col-10 offset-1 col-lg-8 offset-lg-2 div-wrapper d-flex justify-content-center align-items-center">
                    <div class="div-to-align">
                        <br>
                    <button type="button" class="btn-primary" (click)="SaveLandDetails()">
                            Save Land Details  
                    </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
        </div> 
    </div>
    </div>
</div>
</div>
