@import "~@ng-select/ng-select/themes/default.theme.css";
/* @import "https://js.arcgis.com/4.24/@arcgis/core/assets/esri/themes/dark/main.css"; */
/* You can add global styles to this file, and also import other style files */
html, body, app-root {
    height: 100%;
    margin: 0;
    }

table{ 
    word-wrap:break-word; 
    table-layout: fixed; 
  }

.dropdownsLabel{
  font-weight: 550;
  margin-bottom: 2px;
  margin-top: 1px;
  color :#3838bb;
  /*margin-left: 1px; */
}
.Label{
  font-weight: 550;
  font-size: 12px;
  margin-bottom: 2px;
  color :#3838bb;
}
.innercard {
  margin-left:0.5%;
  margin-right:0.5%;
  margin-top: 0.5%;
}
.CardTitle{
  font-size: 17px;
  font-weight: 550;
  margin-left: 1%;
  /* background-color: #f5f5f5; */
}

.justify-content-between {
  justify-content: space-between !important;
  background-color: #a4b5d94f;
  margin-left: -0.5%;
  margin-right: -0.5%;
  margin-top: -0.5%;
}

.DisabledFieldLabel{
  margin-top: 2%;
  font-weight: 550;
  font-size: 14px;
  margin-bottom: 2.5%;
}
.page-content{
  padding: 7px 10px 20px;
}
.AddEditBtn{
  margin-top: 1%;
  margin-bottom: 1%;
}

.fade.in {
  opacity: 1;
  top: 10px;
}
.exportedbtn{
  margin-top: 5.7%;
  margin-left: -46px;
}