<!-- <app-dropdowns></app-dropdowns> -->
<div class="card-body">
    <div class="row">
        <div class="col-lg-3">
            <label class ="Label">Type of Notification</label>
            <select class="form-control">
                <option ></option>
            </select>
        </div>
        <div class="col-lg-3">
            <label class ="Label">Notification No.</label>
            <select class="form-control">
                <option >65465</option>
            </select>
        </div>
        <div class="col-lg-3">
            <button class="btn-round">Search</button>
        </div>
    </div>
</div>
<br>    

<form>
    <div class="card">
        <div class="card-body">
        <div class="row">
            <div class="col-lg-3">
            <label class ="Label">File Number</label>
            <input class="form-control"[(ngModel)]="_GazetteFormDataModel.GazetteFields.FileNo"[ngModelOptions]="{standalone: true}">
            </div>
            <div class="col-lg-3">
                <label class ="Label">Hindi File Number</label>
                <input class="form-control"[(ngModel)]="_GazetteFormDataModel.GazetteFields.HindiFileNo"[ngModelOptions]="{standalone: true}">
            </div>
            <div class="col-lg-3">
                <label class ="Label">SO Number</label>
                <input class="form-control"[(ngModel)]="_GazetteFormDataModel.GazetteFields.SONumber"[ngModelOptions]="{standalone: true}">
            </div>
            <div class="col-lg-3">
                <label class ="Label">Gazette Generate Date</label>
                <input type="date" class="form-control"[value]="_GazetteFormDataModel.GazetteFields.GazetteGeneratedDate | date:'yyyy-MM-dd'" (input)="_GazetteFormDataModel.GazetteFields.GazetteGeneratedDate = $event.target.valueAsDate" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
            <label class ="Label">Gazette Print Date</label>
            <input type="date" class="form-control"[value]="_GazetteFormDataModel.GazetteFields.GazettePrintDate | date:'yyyy-MM-dd'" (input)="_GazetteFormDataModel.GazetteFields.GazettePrintDate = $event.target.valueAsDate" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker">
            
            </div>
            <div class="col-lg-3">
                <label class ="Label">Gazette Recevied Date</label>
                <input type="date" class="form-control"[value]="_GazetteFormDataModel.GazetteFields.GazetteReceviedDate | date:'yyyy-MM-dd'" (input)="_GazetteFormDataModel.GazetteFields.GazetteReceviedDate = $event.target.valueAsDate" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker">
            </div>
            <div class="col-lg-3">
                <label class ="Label">Dispatch Date </label>
                <input type="date" class="form-control"[value]="_GazetteFormDataModel.GazetteFields.DispatchDate | date:'yyyy-MM-dd'" (input)="_GazetteFormDataModel.GazetteFields.DispatchDate = $event.target.valueAsDate" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker">
            </div>
            <div class="col-lg-3">
                <label class ="Label">SO Date</label>
                <input type="date" class="form-control"[value]="_GazetteFormDataModel.GazetteFields.SODate | date:'yyyy-MM-dd'" (input)="_GazetteFormDataModel.GazetteFields.SODate = $event.target.valueAsDate" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
            <label class ="Label">Gazette Publish Date</label>
            <input type="date" class="form-control"[value]="_GazetteFormDataModel.GazetteFields.GazettePublishedDate | date:'yyyy-MM-dd'" (input)="_GazetteFormDataModel.GazetteFields.GazettePublishedDate = $event.target.valueAsDate" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker">
            </div>

            <div class="col-lg-2">
                <label class ="Label">English From Page</label>
                <input class="form-control"[(ngModel)]="_GazetteFormDataModel.GazetteFields.EnglishFromPage"[ngModelOptions]="{standalone: true}">
            </div>
            <div class="col-lg-2">
                <label class ="Label">English To Page</label>
                <input class="form-control"[(ngModel)]="_GazetteFormDataModel.GazetteFields.EnglishToPage"[ngModelOptions]="{standalone: true}">
            </div>
            <div class="col-lg-2">
                <label class ="Label">Hindi From Page</label>
                <input class="form-control"[(ngModel)]="_GazetteFormDataModel.GazetteFields.HindiFromPage"[ngModelOptions]="{standalone: true}">
            </div>
            <div class="col-lg-2">
                <label class ="Label">Hindi To Page</label>
                <input class="form-control"[(ngModel)]="_GazetteFormDataModel.GazetteFields.HindiToPage"[ngModelOptions]="{standalone: true}">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="custom-file">
                    <label class="custom-file-label" for="customFile">Choose Excel File</label>
                    <input type="file"class="custom-file-input" id="customFile" title="Chooes File" #UploadFileInput>
                </div> 
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-3">
                <button class="btn-round" >Upload</button>
            </div>
        </div>
       
    </div>
    </div>    
  </form>
